<%inherit file="/base.html" />
<%namespace file="/actb.html" name="actb" />
<%! 
import operator
import inphosite.lib.helpers as h
import re
%>
<SCRIPT LANGUAGE=JAVASCRIPT>
function verify(){
    msg = "Are you sure you want to delete this entity and all its associated values?  This action cannot be undone.";
    //all we have to do is return the return value of the confirm() method
    return confirm(msg);
    }
</SCRIPT>

<%def name="sidebar()">
${parent.sidebar()}
${h.form(h.url(controller='entity', action='admin', id=None), method='get')}
${h.hidden('redirect','True')}
<strong>InPhO Admin Interface</strong><br /><br />
${actb.actb("q", "Search to add/edit:")}
<br />
Other tasks:<br />
<ol>
    <li><a href="${h.url(controller='entity', action='list_new')}">New Entries/sep_dir management</a></li>
    <li><a href="${h.url(controller='journal', action='list_stale_url')}">Journal URL Checker</a></li>
    <li><a href="http://inphodev.cogs.indiana.edu:8087/admin/tests">Website Update Checklist</a></li>
</ol>

${h.end_form()}
##${h.url(controller='entity', action='admin', id=None)} <br />
</%def>

<%def name="head_title()">
${next.head_title()}
</%def>

${next.body()}
