<%inherit file="/admin/entity-edit.html"/>
<%! 
import re
%>
<%def name="title()">Edit Entity Interface</%def>
<%def name="head_title()">Idea</%def>
<%def name="sidebar()">
${parent.sidebar()}
</%def>



<%def name="entity_add()">
    <br /><fieldset><legend>New entity submission form</legend><br />

        <label for="label">Label</label><br />
        ${h.text(name="label", id="label", value=c.prevvalue, size=60)}<br /><br />

	<label for="entity_type">Entity type</label><br />
	${h.select("entity_type", "1", [['1', 'idea'], ['3', 'thinker'], ['4', 'journal'], ['5', 'work'], ['6', 'group']])}<br /><br />

	<label for="sep_dir">Sep_dir (optional)</label<br />
	${h.text(name="sep_dir", id="sep_dir", value=c.sep_dir)}<br /><br />	

	<br />Upon clicking "add", your entity will be added with a standard searchstring and searchpattern; you will then be taken to this entity's "edit" page where you can modify these defaults.<br /> <br />	

    </fieldset><br />

</%def>

<br />
<div class="yui-gd" style="padding-left:10px">

<strong>${c.message}</strong>
<br>


%if c.new is True:
	${h.form(h.url(controller='entity', action='process'))}
	${entity_add()}<br/>
	<input type="hidden" name="q" value="${c.prevvalue}" />
	${h.submit(name="action", value="Add")}
	${h.end_form()}
	<br/>



	
%endif

</div>


