<%inherit file="/admin/base.html"/>
<%! 
import re
%>
<%def name="title()">Edit Idea Interface</%def>
<%def name="head_title()">Idea</%def>

<br />
<div class="yui-gd" style="padding-left:10px">

<strong>${c.message | n}</strong>
<br>
%if c.found is True:
	${h.form(h.url(controller='idea', action='process'))}
	${idea_form()} <br />
	<input type="hidden" name="ID", value ="${c.idea.ID}"/>
	${h.submit(name="action", value="Modify")}
	%if c.custom is True:
		${h.submit(name="action", value="Use Standard Searchstring/Searchpattern")}
	%else:
		${h.submit(name="action", value="Use Custom Searchstring/Searchpattern")}
	%endif	
	${h.end_form()}
	${h.form(h.url(controller='idea', action='process'), onSubmit="return verify()")}
	${h.submit(name="action", value="Delete")}
	<input type="hidden" name="ID", Value="${c.idea.ID}"/>
	${h.end_form()}
	<br />
	<strong>Statistical Information</strong><br />
	In-degree = ${c.idea.in_degree}<br />
	Out-degree = ${c.idea.out_degree}<br />
	Entropy = ${c.idea.entropy}<br /><br />
	<small>Note that if these statistics are all zero, then either the idea has been newly-added and statistics have not been run, or its searchpattern is not finding a match in the text of the SEP.</small><br />
##	${c.idea.__dict__}



	
%endif

</div>


