<%inherit file="/admin/entity-edit.html"/>
<%! 
import re
import inphosite.lib.helpers as h
%>
<%def name="title()">Edit journal Interface</%def>
<%def name="head_title()">journal</%def>
<%def name="sidebar()">
${parent.sidebar()}
</%def>
<script>
function goToURL(){
    window.location = $("#URL").val();    
}
</script>

<%def name="journal_form()">
    <fieldset><legend><u>Journal #</u> = ${c.journal.ID}</legend>
	<u>Type</u> = journal<br />
	<u>Name</u> = ${c.journal.name}<br /><br />	

	<input type="hidden" name="ID", Value="${c.journal.ID}"/>

	<table>
	<tr><td>
	<label for="label">Label:</label></td><td>
	${h.text(name="label", id="label", size = 40, value=c.journal.label)}<br />
	</td></tr>
	<tr><td>
	<label for="sep_dir">Sep_dir:</label></td><td>
	${h.text(name="sep_dir", id="sep_dir", size = 40, value=c.journal.sep_dir)}<br />
	%if c.sepdirnew:
		<font color="#FF0000">New sepdir--click modify to save</font>
	%endif
	%if c.alreadysepdir:
		<font color="#FF0000">Entry already has sep_dir [${c.idea.sep_dir}]; if you would like to replace it with [${c.entry_sep_dir}], please do so manually</font><br />
	%endif
	</td></tr><tr><td>
	<label for="URL">Website:</label></td><td>
	${h.text(name="URL", id="URL", size = 40, value=c.journal.URL)}
    <a onclick="goToURL()" href="#">Test</a>
    <br />
	</td></tr><tr><td>
	<label for="Last accessed time">Last accessed:</label></td><td>
	${h.text(name="Last accessed", id="Last accessed", size = 40, 
             value=c.journal.last_accessed)}<br />
	</td></tr><tr><td>
	<label for="language">Language:</label></td><td>
	${h.text(name="language", id="language", size = 40, value=c.journal.language)}<br />
	</td></tr><tr><td>
	%for i,abbr in enumerate(c.journal.abbrs):
		<label for="abbr">Abbr #${i}:</label></td><td>
		${h.text(name="abbrs.%s"%(i), id="abbrs.%s"%(i), size = len(abbr) + 4, value=abbr)}  Delete? ${h.checkbox(name="delabbr.%s"%(i), id="delabbr.%s"%(i))} <br />
		</td></tr><tr><td>
	%endfor
	<label for="newabbr">Add new abbreviation:</label></td><td>
	${h.text(name="newabbr", id="newabbr", size = 40)}<br />
	</td></tr><tr><td>
	%for i,query in enumerate(c.journal.queries):
		<label for="queries">Query #${i}:</label></td><td>
		${h.text(name="queries.%s"%(i), id="queries.%s"%(i), size = len(query) + 4, value=query)} Delete? ${h.checkbox(name="delquer.%s"%(i), id="delquer.%s"%(i))} <br />
		</td></tr><tr><td>
	%endfor
	<label for="newquery">Add new query:</label></td><td>
	${h.text(name="newquery", id="newquery", size = 40)}<br />
	</td></tr><tr><td>
	<label for="openAccess">OpenAccess:</label></td><td>
	${h.select("openAccess", c.journal.openAccess, [["1", "Open"], ["0", "Closed"]])}<br />
	</td></tr><tr><td>
	<label for="active">Active:</label></td><td>
	${h.select("active", c.journal.active, [["1", "Active"], ["0", "Inactive"]])}<br />
	</td></tr><tr><td>
	<label for="student">Student:</label></td><td>
	${h.select("student", c.journal.student, [["1", "Student"], ["0", "Nonstudent"]])}<br />
	</td></tr><tr><td>
	<label for="ISSN">ISSN:</label></td><td>
	${h.text(name="ISSN", id="ISSN", size = 40, value=c.journal.ISSN)}<br />
	</td></tr>
</table>

    </fieldset><br />

</%def>
<br />
<div class="yui-gd" style="padding-left:10px">

<strong>${c.message | n}</strong>
<br>
%if c.found is True:
	${h.form(h.url(controller='journal', action='process'))}
	${journal_form()}
	${h.submit(name="action", value="Modify")}
	${h.end_form()}
	${h.form(h.url(controller='journal', action='process'), onSubmit="return verify()")}
	${h.submit(name="action", value="Delete")}
	<input type="hidden" name="ID", Value="${c.journal.ID}"/>
	${h.end_form()}
	
	<br />

	##${c.journal.__dict__}
	
%endif

</div>


