<%inherit file="/admin/base.html"/>
<%! 
import re
%>
<%def name="title()">Edit Entity Interface</%def>
<%def name="head_title()">Idea</%def>
<%def name="sidebar()">
${parent.sidebar()}
</%def>


<div class="yui-gd" style="padding-left:10px">

<p>Below is a list of SEP entries lacking a corresponding entry in the entity table.  Please click on the link to edit the page for that idea. Note that clicking on one of these can take 2-5 minutes to fuzzymatch existing entity entries.</p>
##host is ${request.host}
<br /><br />


%for entry in c.entries:
	<a href="${entry['link']}">${entry['title']}</a>  (<a href="${'http://plato.stanford.edu/entries/' + entry['sep_dir']}" target="_blank">SEP Entry</a>)<br />
%endfor



</div>


