<%inherit file="/admin/entity-edit.html"/>
<%! 
import re
import inphosite.lib.helpers as h
%>
<%def name="title()">Edit School of Thought Interface</%def>
<%def name="head_title()">school_of_thought</%def>
<%def name="sidebar()">
${parent.sidebar()}
</%def>

<%def name="school_of_thought_form()">
    <br /><fieldset><legend><u>school_of_thought #</u> = ${c.school_of_thought.ID}</legend>
	<u>Type</u> = school_of_thought<br />
	<u>Name</u> = ${c.school_of_thought.label}<br /><br />	

	<input type="hidden" name="ID", value="${c.school_of_thought.ID}"/>


	<label for="label">Label:</label></td><td>
	${h.text(name="label", id="label", size = 40, value=c.school_of_thought.label)}<br />
	
	<label for="sep_dir">Sep_dir:</label></td><td>
	${h.text(name="sep_dir", id="sep_dir", size = 40, value=c.school_of_thought.sep_dir)}<br />
	%if c.sepdirnew:
		<font color="#FF0000">New sepdir--click modify to save</font>
	%endif
	%if c.alreadysepdir:
		<font color="#FF0000">Entry already has sep_dir [${c.idea.sep_dir}]; if you would like to replace it with [${c.entry_sep_dir}], please do so manually</font><br />
	%endif
	</td></tr><tr><td></table>


    </fieldset><br />

</%def>
<br />
<div class="yui-gd" style="padding-left:10px">

<strong>${c.message}</strong>
<br>
%if c.found is True:
	${h.form(h.url(controller='school_of_thought', action='process'))}
	${school_of_thought_form()}
	${h.submit(name="action", value="Modify")}
	${h.end_form()}
	${h.form(h.url(controller='school_of_thought', action='process'), onSubmit="return verify()")}
	${h.submit(name="action", value="Delete")}
	<input type="hidden" name="ID", Value="${c.school_of_thought.ID}"/>
	${h.end_form()}
	
	<br />

	##${c.school_of_thought.__dict__}
	
%endif

</div>


