<%inherit file="/base-tree.html"/>

## Header
<%def name="title()">${parent.title()} - Update Checks - </%def>
<%def name="head_title()">Website Update Checklist</%def>
## Sidebar
<%def name="sidebar()">
${parent.sidebar()}
<br />
</%def>
<script type="text/javascript">
$(':checkbox').each(
function(index, elt) {
    $.post('/admin/log_tests',
    {'test' : $(elt).attr('id')})
    .success(function(data) {
        //handle success
        alert('success');
        })
    .failure( function(data){
        // handle failure
        alert('failure');
        })
})
</script>


<form action="/admin/log_tests" method="POST">
<% error = "" %>
<table rules="rows" width="709">
    <tr><td></td><td>CHECK</td><td>DESCRIPTION</td>
    % for test in c.tests:
    <tr>
        <td>status-icon</td>
        % if test.title in c.checked:
            <td><input type="checkbox" name="test" value="${test.title}" id="hello" checked="checked"/%> ${test.title}</td>\
        % else:
            % if c.checked != "":
               <% error = '* Requires checking manually.' %>
                <td><input type="checkbox" name="test" value="${test.title}" id="star"/%><font color=red>*</font>${test.title}</td>\
            % else:
                <td><input type="checkbox" name="test" value="${test.title}" id="notchecked"/%> ${test.title}</td>\
            % endif
        % endif
        <td>${test.description}</td>\
    <tr>
    % endfor
</table>
<input type="submit" value="submit" />
<font size=2 color=red>${error}</font>
<% count = c.testcount %> 
<input type="hidden" name="count" value="${count}" /%>
</form>

