<%inherit file="/admin/entity-edit.html"/>
<%! 
import re
import inphosite.lib.helpers as h
%>
<%def name="title()">Edit Thinker Interface</%def>
<%def name="head_title()">thinker</%def>
<%def name="sidebar()">
${parent.sidebar()}
</%def>

<%def name="thinker_form()">
    <br /><fieldset><legend><u>Thinker #</u> = ${c.thinker.ID}</legend>
	<u>Type</u> = thinker<br />
	<u>Name</u> = ${c.thinker.name}<br /><br />	

	<input type="hidden" name="ID", Value="${c.thinker.ID}"/>

	<table>
	<tr><td>
	<label for="name">Name:</label></td><td>
	${h.text(name="name", id="name", size = 40, value=c.thinker.name)}<br />
	</td></tr><tr><td>
	<label for="searchstring">Search String:</label></td><td>
	${h.text(name="searchstring", id="searchstring", size = 40, value=c.thinker.searchstring)}<br />
	</td></tr><tr><td>
	<label for="searchpattern">Search Pattern:</label></td><td>
	${h.text(name="searchpattern", id="searchpattern", size = 40, value=c.thinker.searchpattern)}<br />
	</td></tr><tr><td>
	<label for="sep_dir">Sep_dir:</label></td><td>
	${h.text(name="sep_dir", id="sep_dir", size = 40, value=c.thinker.sep_dir)}<br />
	%if c.sepdirnew:
		<font color="#FF0000">New sepdir--click modify to save</font>
	%endif
	%if c.alreadysepdir:
		<font color="#FF0000">Entry already has sep_dir [${c.idea.sep_dir}]; if you would like to replace it with [${c.entry_sep_dir}], please do so manually</font><br />
	%endif
	</td></tr><tr><td>
	<label for="wiki">Wiki:</label></td><td>
	${h.text(name="wiki", id="wiki", size = 40, value=c.thinker.wiki)}<br />
	</td></tr></table><br /><br />
	<strong>Date of Birth</strong><br />
	<label for="birth_day">Day:</label>
	${h.text(name="birth_day", id="birth_day", value=c.thinker.birth_day, size=2)}

	<label for="birth_month">Month:</label>
	${h.select("birth_month", c.thinker.birth_month, options=['','January', 'February', 'March', 'April', 'May', "June", "July","August","September","October", "November", "December"])}

	<label for="birth_year">Year:</label>
	${h.text(name="birth_year", id="birth_year", value=h.bc(c.thinker.birth_year)[1], size=4)}

	<label for="bornbc">AD/BC</label>
	${h.select("bornbc", h.bc(c.thinker.birth_year)[0], options=['',"AD", "BC"])}<br /><br />

	<strong>Date of death</strong><br />
	<label for="death_day">Day:</label>
	${h.text(name="death_day", id="death_day", value=c.thinker.death_day, size=2)}

	<label for="death_month">Month:</label>
	${h.select("death_month", c.thinker.death_month, options=['','January', 'February', 'March', 'April', 'May', "June", "July","August","September","October", "November", "December"])}

	<label for="death_year">Year:</label>
	${h.text(name="death_year", id="death_year", value=h.bc(c.thinker.death_year)[1], size=4)}

	<label for="diedbc">AD/BC</label>
	${h.select("diedbc", h.bc(c.thinker.death_year)[0], options=['',"AD", "BC"])}<br /><br />

    </fieldset><br />

</%def>
<br />
<div class="yui-gd" style="padding-left:10px">

<strong>${c.message | n}</strong>
<br>
%if c.found is True:
	${h.form(h.url(controller='thinker', action='process'))}
	${thinker_form()}
	${h.submit(name="action", value="Modify")}
	${h.end_form()}
	${h.form(h.url(controller='thinker', action='process'), onSubmit="return verify()")}
	${h.submit(name="action", value="Delete")}
	<input type="hidden" name="ID", Value="${c.thinker.ID}"/>
	${h.end_form()}
	
	<br />

	##${c.thinker.__dict__}
	
%endif

</div>


