<%inherit file="/base-tree.html"/>
<%def name="title()">Journals with bad links</%def>
<%def name="head_title()">Journals with bad links</%def>
<%def name="sidebar()">
${parent.sidebar()}
<br />
${parent.draw()}</%def>

<script>
function showJournals(){
    var chosen = document.getElementById('bad_field').options[document.getElementById('bad_field').selectedIndex].value;
    var filters = $('div[id="di_filter"]');
    for(var i=0; i<filters.length; i++){
        if(filters[i].getAttribute("value") == chosen){
            filters[i].style.display="inline";
        }else{
            filters[i].style.display="none";
        }
    }
}
</script>

<div id="content">

<p>Select a field to display the corresponding list.</p>

<select id="bad_field" onchange="showJournals()">
    <option>None</option>
    <option value="broken">Broken URLs (${len(c.broken)} Journal(s))</option>
    <option value="missing">Missing URLs (${len(c.missing)} Journal(s))</option>
    <option value="blank">Blank URLs (${len(c.blank)} Journal(s))</option>
    <option value="inactive">Inactive and Missing URL (${len(c.inactive)} Journal(s))</option>
    <option value="missing_issn">Missing ISSN (${len(c.missing_issn)} Journal(s))</option>
    <option value="bad_issn">Bad ISSN (${len(c.bad_issn)} Journal(s))</option>
</select>

<div value="broken" id="di_filter" style="display: none;">
  <ul>
  %for journal in c.broken:
  <li><a href="${journal.url()}">${journal.label}</a></li>
  %endfor
  </ul>
</div>

<div value="missing" id="di_filter" style="display: none;">
  <ul>
  %for journal in c.missing:
  <li><a href="${journal.url()}">${journal.label}</a></li>
  %endfor
  </ul>
</div>

<div value="blank" id="di_filter" style="display: none;">
  <ul>
  %for journal in c.blank:
  <li><a href="${journal.url()}">${journal.label}</a></li>
  %endfor
  </ul>
</div>

<div value="inactive" id="di_filter" style="display: none;">
  <ul>
  %for journal in c.inactive:
  <li><a href="${journal.url()}">${journal.label}</a></li>
  %endfor
  </ul>
</div>

<div value="missing_issn" id="di_filter" style="display: none;">
  <ul>
  %for journal in c.missing_issn:
  <li><a href="${journal.url()}">${journal.label}</a></li>
  %endfor
  </ul>
</div>

<div value="bad_issn" id="di_filter" style="display: none;">
  <ul>
  %for journal in c.bad_issn:
  <li><a href="${journal.url()}">${journal.label}</a></li>
  %endfor
  </ul>
</div>

<script>showJournals()</script>

</div> 
