<%inherit file="/base-tree.html"/>
<%namespace name="entity" file="/entity/entity.html" />

<%def name="label()">
%if c.entity.abbrs and len(c.entity.label) > 50:
${c.entity.abbrs[0]}
%else:
${c.entity.label}
%endif
</%def>

<%def name="title()">Journal - ${label()}</%def>
<%def name="head_title()">${label()}</%def>
<%def name="sidebar()">
${parent.sidebar()}
<br />
${parent.draw()}</%def>

<%def name="head()">
<script src="/js/eval.js" type="text/javascript"></script>
<script src="/js/admin.js" type="text/javascript"></script>
<script src="/js/tabnav.js" type="text/javascript"></script>
<script src="/js/entity.js" type="text/javascript"></script>
</%def>

<script type="text/javascript">
function srch(id) {
    var src  = '/entity/' + id + '/search';
    $.get(src, function(data){
          $("#searches").html(data);
        });
}
$(document).ready(function () {
    srch(${c.entity.ID}); 
    $('#tabnav').tab();
});
</script>

<h1>${c.entity.label}</h1>

<ul class="nav nav-tabs" id="tabnav" data-tabs="tabs">
    <li id="home-tab" class="active"><a href="#home" data-toggle="tab"><i class="icon-home"></i></a></li>
    %if h.auth.is_admin():
    <li id="admin-tab"><a href="#admin" data-toggle="tab"><i class="icon-pencil"></i> Admin </a></li>
    %endif
</ul>

<div class="tab-content" id="tabnav-content">
    <div class="tab-pane active" id="home">
      %if h.auth.is_admin() and c.entity.URL and c.entity.last_accessed < 2419200: 
      <div class="alert-message alert-warning">
        <a class="close" href="#">×</a>
        <strong>Broken Journal URL!</strong> Journal URL unreachable since ${c.entity.last_accessed_str}
      </div>
      %endif


 <dl class="dl-horizontal">
    %if c.entity.URL:
    <dt>Web Site</dt>
    <dd><a href="${c.entity.URL}">${c.entity.label}</a></dd>
    %endif

    %if c.entity.language:
    <dt>Language:</dt>
    <dd>${c.entity.language}</dd>
    %endif

    %if c.entity.ISSN:
    <dt>ISSN:</dt>
    <dd>${c.entity.ISSN}</dd>
    %endif
    
    %if c.entity.abbrs:
    <dt>Abbreviations:</dt>
    %for abbr in c.entity.abbrs:
    <dd>${abbr}</dd>
    %endfor
    %endif
    
    %if c.entity.openAccess or c.entity.student or not c.entity.active:
    <dt>Extra:</dt>
    %if c.entity.openAccess:
    <dd>Open Access</dd>
    %endif
    %if c.entity.student:
    <dd>Student Journal</dd>
    %endif
    %if not c.entity.active:
    <dd>Inactive</dd>
    %endif
    %endif
  </dl>

      <div id="searches">Loading search results ...<img src='/img/loading.gif' /></div>
    </div>
## If user is authorised, show admin panel
%if h.auth.is_admin():
    <div class="tab-pane" id="admin">
      ${entity.printAdminPanel(['URL', 'language', 'ISSN', 'abbrs', 'queries', 'openAccess', 'student', 'active'])}
    </div>
%endif
</div> <!-- tab-content -->
