<%inherit file="/base-tree.html"/>
<%def name="title()">Journals with bad links</%def>
<%def name="head_title()">Journals with bad links</%def>
<%def name="sidebar()">
${parent.sidebar()}
<br />
${parent.draw()}</%def>
<div id="content">
<p> This is a list of journals with broken links. </p>

<h2>Broken URLs</h2>
<p>${len(c.broken)} journals</p>
<ul>
%for journal in c.broken:
<li><a href="${journal.url()}">${journal.label}</a></li>
%endfor
</ul>
<h2>Missing URLs</h2>
<p>${len(c.missing)} journals</p>
<ul>
%for journal in c.missing:
<li><a href="${journal.url()}">${journal.label}</a></li>
%endfor
</ul>
</div>
