<%inherit file="/base-tree.html"/>
<%def name="title()">Journals with bad links</%def>
<%def name="head_title()">Journals with bad links</%def>
<%def name="sidebar()">
${parent.sidebar()}
<br />
${parent.draw()}</%def>
<div id="content">
  <p> This is a list of journals with broken links. </p>

  <div class="accordion" id="broken_journals">
    ## Valid URL, not found
    <div class="accordion-group" style="border: none;">
      <div class="accordion-heading">
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#broken_journals" href="#journal_broken" style="display: inline; padding: 0px;">
	  <h2>Broken URLs</h2>
	</a>
	<p>${len(c.broken)} journals have been inaccessible for 4 weeks.</p> 
      </div>     
      <div class="accordion-body collapse" id="journal_broken">
	<div class="accordion-inner" style="border: none; padding: 0px;">
	  <ul>
	    %for journal in c.broken:
	    <li><a href="${journal.url()}">${journal.label}</a></li>
	    %endfor
	  </ul>
	</div>
	<hr />
      </div>
    </div>
    
    ## Journal is active, no URL set
    <div class="accordion-group" style="border: none;">
      <div class="accordion-heading">
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#broken_journals" href="#journal_missing" style="display: inline; padding: 0px;">
	  <h2>Missing URLs</h2>
	</a>
	<p>${len(c.missing)} journals are active without a URL.</p>
      </div> 
      <div class="accordion-body collapse" id="journal_missing">
	<div class="accordion-inner" style="border: none; padding: 0px;">
	  <ul>
	    %for journal in c.missing:
	    <li><a href="${journal.url()}">${journal.label}</a></li>
	    %endfor
	  </ul>
	</div>
	<hr />
      </div>
    </div>

    ## Journal is active, URL is set to blank
    <div class="accordion-group" style="border: none;">
      <div class="accordion-heading">
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#broken_journals" href="#journal_blank" style="display: inline; padding: 0px;">
	  <h2>Blank URLs</h2>
	</a>
	<p>${len(c.blank)} journals are active with a blank URL.</p>
      </div>
      <div class="accordion-body collapse" id="journal_blank">
	<div class="accordion-inner" style="border: none; padding: 0px;">
	  <ul>
	    %for journal in c.blank:
	    <li><a href="${journal.url()}">${journal.label}</a></li>
	    %endfor
	  </ul>
	</div>
	<hr />
      </div>
    </div>
    
    ## Journal is inactive and missing URL
    <div class="accordion-group" style="border: none;">
      <div class="accordion-heading">
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#broken_journals" href="#journal_inactive" style="display: inline; padding: 0px;">
	  <h2>Inactive and Missing URL</h2>
	</a>
	<p>${len(c.inactive)} journals are inactive and missing a URL.</p>
      </div>
      <div class="accordion-body collapse" id="journal_inactive">
	<div class="accordion-inner" style="border: none; padding: 0px;">
	  <ul>
	    %for journal in c.inactive:
	    <li><a href="${journal.url()}">${journal.label}</a></li>
	    %endfor
	  </ul>
	</div>
	<hr />
      </div>
    </div>    
  </div>
</div> 

<script>
  $(".collapse").collapse({
  toggle: false
  });
</script>
