<%inherit file="/base-tree.html"/>
<%def name="title()">Bad/Missing Thinker Info</%def>
<%def name="head_title()">Bad/Missing Thinker Info</%def>
<%def name="sidebar()">
${parent.sidebar()}
<br />
${parent.draw()}</%def>
<div id="content">

<p>Select a field to see the list of Thinkers with that missing/bad information.</p>

<script>
function showThinkers(){
    var chosen = document.getElementById('bad_field').options[document.getElementById('bad_field').selectedIndex].value;
    var filters = $('div[id="di_filter"]');
    for(var i=0; i<filters.length; i++){
        if(filters[i].getAttribute("value") == chosen){
            filters[i].style.display="inline";
        }else{
            filters[i].style.display="none";
        }
    }
}
</script>

<select id="bad_field" onchange="showThinkers()">
  <option>None</option>
  <option value="missing_dob">Missing DoB (${len(c.missing_birth)} Thinker(s))</option>
  <option value="missing_dod">Missing DoD (${len(c.missing_death)} Thinker(s))</option>
  <option value="impossible_dates">Impossible Dates (${len(c.impossible_dates)} Thinker(s))</option>
  <option value="missing_sep_dir">Missing sep_dir (${len(c.missing_sep_dir)} Thinker(s))</option>
  <option value="no_wiki">No Wiki page (${len(c.no_wiki)} Thinker(s))</option>
  <option value="duplicate">Duplicates (${len(c.duplicate)} Thinkers)</option>
</select>

<div value="missing_dob" id="di_filter" style="display: none;">
  <ul>
    %for thinker in c.missing_birth:
    <li><a href="${thinker.url()}" target="_blank">${thinker.label}</a></li>
    %endfor
  </ul>
</div>

<div value="missing_dod" id="di_filter" style="display: none;">
  <ul>
    %for thinker in c.missing_death:
    <li><a href="${thinker.url()}" target="_blank">${thinker.label}</a></li>
    %endfor
  </ul>
</div>

<div value="impossible_dates" id="di_filter" style="display: none;">
  <ul>
    %for thinker in c.impossible_dates:
    <li><a href="${thinker.url()}" target="_blank">${thinker.label}</a></li>
    %endfor
  </ul>
</div>

<div value="missing_sep_dir" id="di_filter" style="display: none;">
  <ul>
    %for thinker in c.missing_sep_dir:
    <li><a href="${thinker.url()}" target="_blank">${thinker.label}</a></li>
    %endfor
  </ul>
</div>

<div value="no_wiki" id="di_filter" style="display: none;">
  <ul>
    %for thinker in c.no_wiki:
    <li><a href="${thinker.url()}" target="_blank">${thinker.label}</a></li>
    %endfor
  </ul>
</div>

<div value="duplicate" id="di_filter" style="display: none;">
  <ul>
    %for thinker in c.duplicate:
    <li><a href="${thinker.url()}" target="_blank">${thinker.label}</a></li>
    %endfor
  </ul>
</div>

<script>showThinkers()</script>

</div>
