<%namespace name="eval" file="/idea/eval.html" />

<div id="evalContent">
    <h3>How is <em>${h.titlecase(c.idea.label)}</em> related to each idea?</h3>

    %if len(c.paginator):
      <ol class="unstyled">
        %for idea in c.paginator:
          <li class="evalItem">${printEntity(idea)}</li>
        %endfor  
      </ol>
    % else:
    <h3>No more candidates to evaluate.</h3><br />
    % endif
</div> <!-- EVAL CONTENT -->

<script type="text/javascript" src="/js/eval.js"></script>
<script type="text/javascript">inpho.eval.alert = false;</script>



<%def name="printEntity(cons, cls='', relatedness=-1, generality=-1)">
        <strong>${h.titlecase(cons.label)}</strong>&nbsp;&nbsp;

        %if cons not in c.idea.nodes and cons != c.idea:
        <a href="${cons.url()}" class="sep" target="_blank"><img src="/img/inpho.png" /></a>
        %endif

        %if cons.sep_dir:
        <a href="http://plato.stanford.edu/entries/${cons.sep_dir}/" class="icons" target="_blank"><img src="/img/sepmanicon.png" /></a>
        %endif

        <div class="evalContainer">${eval.form(c.idea, cons, relatedness, generality)}</div>
</%def>

