<%! import urllib, itertools %>
<%inherit file="/base-tree.html" />
<%namespace name="entity" file="/entity/entity.html" />
<%namespace name="eval" file="/idea/idea-edit.html" />
<%namespace name="singleBar" file="/entity/singlebar.html" />
<%def name="head()">
<script src="/js/eval.js" type="text/javascript"></script>
<script src="/js/admin.js" type="text/javascript"></script>
<script src="/js/tabnav.js" type="text/javascript"></script>
<script src="/js/entity.js" type="text/javascript"></script>
</%def>

## Header
<%def name="title()">${parent.title()} - Idea - ${h.titlecase(c.entity.label)}</%def>
<%def name="head_title()">${h.titlecase(c.entity.label)}</%def>



<script type="text/javascript">
inpho.eval.alert = true;

$(document).ready(function() {
    $("#dialog").dialog({position: [490,380], modal : true, title : 'Multiple Results'});
    $('#tabnav').tab();
    if (window.location.hash != "") {
        if (window.location.hash.substring(1,2) == 'i') {
            var id = window.location.hash.substring(2);
            $.getJSON('/idea/'+id+'.json',
              function(data) {
                  var title = data.responseData.result.label;
                  inpho.tabnav.appendTab('tabnav', 'i' + id, title, '/idea/${c.entity.ID}/panel/' + id);
                });
        }
        inpho.tabnav.switchTab('tabnav', window.location.hash.substring(1));  
        $('body').scrollTop(0);
    }
});
</script>

<h1 id="label" data-id="${c.entity.ID}">${h.titlecase(c.entity.label)}</h1>
%for node in c.nodes:
${entity.breadcrumbs(node)}
%endfor

%if c.entity.sep_dir:
<p><a href="http://plato.stanford.edu/entries/${c.entity.sep_dir}/" target="_blank"><img src="/img/sepmanicon.png" /> ${h.titlecase(c.entity.label)}</a> is also an article in the Stanford Encyclopedia of Philosophy.</p>
%endif
%if c.entity.wiki:
<p><a href="http://wikipedia.org/wiki/${c.entity.wiki.decode('utf-8')}" target="_blank"><img src="/img/wikiicon.png" /> ${h.titlecase(c.entity.label)}</a> also has a Wikipedia article.</p>
%endif

<p><a href="http://philpapers.org/s/${c.entity.label.replace(' ', '%20')}"> <img src="/img/pp.gif"/> ${h.titlecase(c.entity.label)}</a> can be searched on PhilPapers.</p>

## MODAL DIALOG FOR MULTIPLE PLACES
%if c.entity.nodes:
<div id="dialog"> <!-- DIALOG BOX -->
<p>${h.titlecase(c.entity.label)} is classified in \
%if len(c.entity.nodes) > 1:
<em>multiple places</em> in \
%endif
the taxonomy. You may either go to the following context-specific taxonomy pages or <a href="#" onClick="$('#dialog').dialog('close')">stay on this general concept page</a>.</p>

<ul>
<!-- Print out paths to the nodes -->
%for node in c.entity.nodes:
<li>\
<% curParent = node.parent 
parents = []
while curParent:
    parents.insert(0, curParent)
    curParent = curParent.parent
%>
%for parent in parents:
<a class="idea" href="${parent.url()}">${parent.label}</a> -&gt; \
%endfor
<a class="idea" href="${node.url()}">${node.label}</a> \
</li>
%endfor

<li><a href="#" onClick="$('#dialog').dialog('close')">Stay on the current page</a></li>
</ul>

</div> <!-- END DIALOG -->
%endif




<ul class="nav nav-tabs" id="tabnav" data-tabs="tabs">
    <li id="home-tab" class="active"><a href="#home" data-toggle="tab"><i class="icon-home"></i></a></li>
    %if h.auth.is_logged_in():
    <li id="evaluate-tab" onclick="inpho.tabnav.lazyLoad('tabnav','evaluate', '/idea/'+${c.entity.ID}+'/evaluate')"><a href="#evaluate" data-toggle="tab"><i class="icon-pencil"></i> Evaluate</a></li>
    %endif
    %if h.auth.is_admin():
    <li id="admin-tab"><a href="#admin" data-toggle="tab"><i class="icon-pencil"></i> Admin </a></li>
    %endif
</ul>

<div class="tab-content" id="tabnav-content">
    <div class="tab-pane active" id="home">

%if c.entity.sep_dir:
${singleBar.core()}
<div class="explorer">
<h3>Topic Explorer</h3>
<!-- render single bar (all ports are hard coded at this time) -->
<p>These bars show different topic mixtures for the SEP article with number of topics shown left.<br />Click on a bar to go to full topic explorer for document comparison and more details.</p>
<dl class="dl-horizontal">
${singleBar.render(16020)}
${singleBar.render(16040)}
${singleBar.render(16060)}
${singleBar.render(16080)}
${singleBar.render(16100)}
${singleBar.render(16120)}
</dl>
</div>
%endif

<%
taxonomic = []
parents = [node.parent or c.entity for node in c.entity.nodes]
if c.entity.nodes and parents:
    taxonomic.extend(zip(parents, itertools.repeat(c.entity)))

if c.entity.instance_of:
    taxonomic.extend(zip(c.entity.instance_of, itertools.repeat(c.entity)))
%>

##${entity.printList(taxonomic, 'taxonomy', alt_title='Taxonomic Relations', tax_class='child')}
##${entity.printList(zip(c.entity.links_to[:10], itertools.repeat(c.entity)), 'links', alt_title='Non-taxonomic Links', tax_class='childLink', method='reasoning')}
${entity.printList('related', 'Related Terms', method='statistical')}
${entity.printList('related_thinkers', method='statistical')}
${entity.printList('hyponyms', method='statistical')}
${entity.printList('occurrences', method='statistical')}

%if not (c.entity.related[:10] or c.entity.related_thinkers[:10] or c.entity.hyponyms[:10] or c.entity.occurrences[:10]):
${entity.printMissing()}
%endif

    </div>
## If user is logged in, show evaluations
%if h.auth.is_logged_in():
    <div class="tab-pane" id="evaluate"></div>
%endif
## If user is authorised, show admin panel
%if h.auth.is_admin():
    <div class="tab-pane" id="admin">
        ${entity.printAdminPanel(["id", "label", "sep_dir", "wiki", "searchstring", "searchpatterns", "in-degree", "out-degree", "entropy"])}
    </div>
%endif
</div> <!-- tab-content -->


