<%inherit file="/base-nosidebar.html"/>
<%namespace file="/actb.html" name="actb" /> 
<%def name="title()">${parent.title()} - The Internet Philosophy Ontology Project</%def>
<%def name="head_title()"></%def>

<div class="hero-unit graph-bg" style="text-align: center;">
  <div class="graph-content">
  <h1>About the <span class="logo-word">InPhO</span></h1>
  <p>Welcome to the Internet Philosophy Ontology (InPhO) project!</p>
<div class="centered">
  <strong><a id="search-btn" class="btn btn-info" style="margin-bottom: 20px;"><i class="icon-search icon-white"></i> Search the Taxonomy</a></strong>
  <form id="search-form" class="form-stacked" method="get" action="/entity?id=None" autocomplete="off">
    <input type="hidden" value="True" name="redirect">
    ${actb.actb("q")}
  </form>
  <strong><a href="/taxonomy" class="btn btn-success" style="margin-bottom: 20px;"><i class="icon-arrow-right icon-white"></i> Browse the Taxonomy</a></strong>
  </div>
</div>
</div>


<div class="span3 grants">
<h3>Funders</h3>
The InPhO project is generously supported by the following grants:

<dl>
<dt><strong class="pull-right">2012</strong> <a href="https://securegrants.neh.gov/PublicQuery/main.aspx?f=1&gn=HJ-50092-12">NEH HJ-50092-12</a></dt>
<dd>Digging by Debating: Linking massive datasets to specific arguments</dd>

<dt><strong class="pull-right">2011</strong> <a href="https://securegrants.neh.gov/PublicQuery/main.aspx?f=1&gn=HG-50032-11">NEH HG-50032-11</a></dt>
<dd>Linking and Populating the Digital Humanities</dd>

<dt><strong class="pull-right">2009</strong> <a href="https://securegrants.neh.gov/PublicQuery/main.aspx?f=1&gn=PW-50401-09">NEH PW-50401-09</a></dt>
<dd>InPhO @ Work: providing integrated access to philosophy</dd>

<dt><strong class="pull-right">2007</strong> <a href="https://securegrants.neh.gov/PublicQuery/main.aspx?f=1&gn=HD-50203-07">NEH HD-50203-07</a></dt>
<dd>InPhO: the Indiana Philosophy Ontology project</dd>

<dt><strong class="pull-right">2006</strong> Indiana University New Frontiers in the Arts &amp; Humanities<dt>
<dd>Automatic Metacontent Management for Dynamic Reference Works</dd>
</dl>

And the ongoing support of the <a href="http://www.cogs.indiana.edu/">Cognitive Science Program</a> at Indiana University.
</div>

<div class="span5 inphormers offset1">
<h3>The InPhOrmers</h3>
<ul class="unstyled" id="people"></ul>
<script>
  //Loads the json in
  fetch('../people.json')
    .then(resp => resp.json()).then(json => {loadData(json);});

  //Lods the data into the html page
  function loadData(json) {
    let otherData = [];
    var active = [];
    var inactive = [];
    for (const person of json) {
      otherData.push({"times" : person.roles.map(role => ({"starting_time" : role.start,
                                  "ending_time" : role.end ? role.end : 2018}) ),
                      "label" : person.name,
                      "role" : person.roles[person.roles.length - 1].role});
      if(person.roles[person.roles.length - 1].end) {
        inactive.push(otherData[otherData.length - 1]);
      } else {
        active.push(otherData[otherData.length - 1]);
      }
    }

    otherData = sortData(inactive, active);
    var i = 0;
    var ul = document.getElementById("people");
    while(i < otherData.length) {
      var child = document.createElement('p');
      child.innerHTML = "<Strong>" + otherData[i].label + " - " + otherData[i].role + "</Strong>";
      ul.appendChild(child);
      i++;
    }
  }

  //Calculates the sums for everyone involved using the calculateSum method
  function sortData(inactive, active) {
  var act = active;
  var actSums = [];
  var inact = inactive;
  var inactSums = [];
  var i = 0;
  while(i < act.length) {
    actSums[i] = calculateSum(act[i]);
    i++;
  }
  i = 0;
  while(i < inact.length) {
    inactSums[i] = calculateSum(inact[i]);
    i++;
  }
  act = sort(act, actSums);
  inact = sort(inact, inactSums);
  var newArr = act;
  i = 0;
  while(i < inact.length) {
    newArr.push(inact[i]);
    i++;
  }
  return newArr;
}

//Helps determine the amount everyone has been working on the project
function calculateSum(person) {
  var j = 0;
  var sum = 0;
  while(j < person.times.length) {
    sum += person.times[j].ending_time - person.times[j].starting_time;
    j++;
  }
  return sum;
}

//Sorts the data of the array based off those involved the longest
function sort(arr, sums) {
  var i = 1;
  var boo = false;
  var ret;
  do {
    boo = false;
    i = 1;
    while(i < arr.length) {
      if(sums[i - 1] < sums[i]) {
        ret = exch(arr, sums, i - 1, i);
        arr = ret[0];
        sums = ret[1];
        boo = true;
      }
      i++;
    }
  } while(boo);
  return arr;
}

//Swaps two elements in an array to help with sorting
function exch(arr, sums, i, j) {
  var temp = arr[i];
  var temp2 = sums[i];
  arr[i] = arr[j];
  sums[i] = sums[j];
  arr[j] = temp;
  sums[j] = temp2;
  return [arr, sums];
}
</script>
</div>

<div class="span3">
<h3>Partners</h3>
<h3>Co-funded Partners</h3>
<ul>
  <li><a href="http://ella.slis.indiana.edu/~katy/">Katy Börner</a>, Indiana University</li>
  <li><a href="http://www.uel.ac.uk/cass/staff/andrewravenscroft/">Andrew Ravenscroft</a>, University of East London</li>     
  <li><a href="http://www.dbourget.com">David Bourget</a>, <a href="http://philpapers.org/">PhilPapers</a></li>
  <li><a href="http://www.computing.dundee.ac.uk/staff/creed/index.html">Chris Reed</a>, University of Dundee</li>
  <li><a href="http://www.matlog.net/research.php">Mathias Niepert</a>, University of Mannheim and University of Washington</li>
  <li><a href="http://www.afbeavers.net">Tony Beavers</a>, University of Evansville</li>
  <li><a href="http://www.indiana.edu/~catapult/">IU Catapult Center</a></lI>
</ul>

<h3>Other Collaborations</h3>
<ul>
  <li><a href="http://mally.stanford.edu/zalta.html">Ed Zalta</a> &amp; <a href="http://www-csli.stanford.edu/people/nodelman-uri">Uri Nodelman</a>, <a href="http://plato.stanford.edu">The Stanford Encyclopedia of Philosophy</a></li>
  <li><a href="http://www.hathitrust.org/htrc">Hathi Trust Research Center</a></li>
  <li><a href="http://www.digitalhps.org/index.php/Main_Page">Digital HPS</a></li>
  <li><a href="http://univ-paris1.academia.edu/AlexandreMonnin">Alexandre Monnin</a>, PHILOWEB</li>
</ul>
</div>

<script>
$('#search-btn').click(function() {
  $('#search-btn').toggle('slow');
  $('#search-form').toggle('slow');
  $('#q').focus();
  });

function getData() {
  console.log("hello");
}

function sortData(inactive, active) {
  var act = active;
  var actSums = [];
  var inact = inactive;
  var inactSums = [];
  var i = 0;
  while(i < act.length) {
    actSums[i] = calculateSum(act[i]);
    i++;
  }
  i = 0;
  while(i < inact.length) {
    inactSums[i] = calculateSum(inact[i]);
    i++;
  }
  act = sort(act, actSums);
  inact = sort(inact, inactSums);
  var newArr = act;
  i = 0;
  while(i < inact.length) {
    newArr.push(inact[i]);
    i++;
  }
  return newArr;
}
function calculateSum(person) {
  var j = 0;
  var sum = 0;
  while(j < person.times.length) {
    sum += person.times[j].ending_time - person.times[j].starting_time;
    j++;
  }
  return sum;
}
function sort(arr, sums) {
  var i = 1;
  var boo = false;
  var ret;
  do {
    boo = false;
    i = 1;
    while(i < arr.length) {
      if(sums[i - 1] < sums[i]) {
        ret = exch(arr, sums, i - 1, i);
        arr = ret[0];
        sums = ret[1];
        boo = true;
      }
      i++;
    }
  } while(boo);
  return arr;
}
function exch(arr, sums, i, j) {
  var temp = arr[i];
  var temp2 = sums[i];
  arr[i] = arr[j];
  sums[i] = sums[j];
  arr[j] = temp;
  sums[j] = temp2;
  return [arr, sums];
}
</script>
