<%def name="actb(id, label=None)" >
<div class="actb">
  %if label:
  <label for="${id}">${label}</label>
  %endif
  <form class="form-search">
    <input class="input-medium search-query" type="text" id="${id}" name="${id}" value="${request.params.get('q','')}" />
    <button type="submit" class="btn" value="Search">Search</button>
  </form>
  <div class="actbContainer" id="${id}Container"></div>
</div>

<script type="text/javascript">
YAHOO.example.RemoteCustomRequest = function() {
    // Use an XHRDataSource
    var oDS = new YAHOO.util.XHRDataSource('${h.url(controller='entity', id=None, action='list', filetype='json')}');
    // Set the responseType
    oDS.responseType = YAHOO.util.XHRDataSource.TYPE_JSON;
    // Define the schema of the JSON results
    oDS.responseSchema = {
        resultsList : "responseData.results",
        fields : ["label","url","type"]
    };

    // Instantiate the AutoComplete
    var oAC = new YAHOO.widget.AutoComplete("${id}", "${id}Container", oDS);
    // Throttle requests sent
//    oAC.queryDelay = .5;
    // Type fill
    //oAC.typeAhead = true;
    // The webservice needs additional parameters
    oAC.generateRequest = function(sQuery) {
        return "?limit=10&q=" + sQuery ;
    };
    oAC.itemSelectEvent.subscribe(function(sType, aArgs) { 
        var oData = aArgs[2]; // object literal of selected item's result data 
        // Redirect to the entity 
        var thisurl = "http://" + window.location.host + oData.url;
        window.location = thisurl; 
    });
    oAC.resultTypeList = false; 
    oAC.formatResult = function(oResultData, sQuery, sResultMatch) {
        var markup = [sResultMatch, " <span class='type'>", oResultData.type,
        "</span>"];
        return (markup.join(""));
        };
    return {
        oDS: oDS,
        oAC: oAC
    };
}();


</script>
</%def>

