<%inherit file="/base.html" />
<%namespace file="/actb.html" name="actb" />
<%! 
import operator
import inphosite.lib.helpers as h

def nodeRecursion(i, nodes, root, selected):
    n=""
    for node in nodes:
        # configure next node, select currentnode
        n += "var tmpNode%s = new YAHOO.widget.TextNode({label : '%s', href: '%s', selected: %s, highlightState:%s, className: %s}, %s);\n" % (i, node.name, h.url(controller="taxonomy", action="view", id=node.ID), str(selected==node.ID).lower(), 1 if selected==node.ID else 0, '"yuitree-hl"' if selected==node.ID else 'null', str(root))
        if node.children:
            sorted_children = node.children
            sorted_children.sort(key=operator.attrgetter('name'))
            n += nodeRecursion(i+1, sorted_children, "tmpNode"+str(i), selected)
    return n
%>

<%def name="sidebar(node=None)">
<form class="form-stacked" method="get" action="/entity?id=None" autocomplete="off">
    <input type="hidden" value="True" name="redirect">
    ${actb.actb("q", param='q')}
</form>
${draw(getattr(c, "node", None))}
</%def>

<%def name="draw(node=None)">
<%
from inpho.model import Node
from inpho.model import Session
from sqlalchemy.orm import joinedload, subqueryload, joinedload_all
nodes = Session.query(Node)
nodes = nodes.options(joinedload_all('children.children.children.children'))
nodes = nodes.filter(Node.parent_id == None).order_by("name").all()
%>
<div id="tree-root"><img src="/favicon.ico" />
<span><a href="/taxonomy">Philosophy</a> 
[<a href="#" onclick="tree.expandAll()">Expand All</a>]
[<a href="#" onclick="tree.collapseAll()">Collapse All</a>]</span></div>
<div id="tree">
</div>
<script type="text/javascript">
var tree = new YAHOO.widget.TreeView("tree");
var root = tree.getRoot();
${nodeRecursion(0, nodes, "root", (node and node.ID)) | n}
tree.render();

var selectedNode = tree.getNodeByProperty('selected',true);
if (selectedNode) {
    selectedNode.focus();
    selectedNode.expand();
}

</script>
</%def>

<%def name="head_title()">
${next.head_title()}
</%def>

${next.body()}
