<%namespace file="/actb.html" name="actb" />
<!DOCTYPE html>
<html>
  <head>
    <title>${self.title()}</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    ## JQUERY
    ${h.javascript_link(h.url('/jquery/jquery-1.7.2.min.js'))}
    ${h.javascript_link(h.url('/jqueryui/js/jquery-ui-1.8.10.custom.min.js'))}
    ${h.stylesheet_link(h.url('/jqueryui/css/blitzer/jquery-ui-1.8.10.custom.css'))}
    
    ## BOOTSTRAP
    ${h.stylesheet_link(h.url('/bootstrap/css/bootstrap.min.css'))}
    ${h.javascript_link(h.url('/bootstrap/js/bootstrap.min.js'))}
    
    ## D3
    ${h.javascript_link(h.url('/js/d3/d3.js'))}
    ${h.javascript_link(h.url('/js/d3/d3.layout.js'))}
    
    ## InPhO
    ${h.stylesheet_link(h.url('/css/style.css'))}
    ${h.stylesheet_link(h.url('/css/tree.css'))}
    ${h.stylesheet_link(h.url('/css/idea-edit.css'))}
    ${h.javascript_link(h.url('/js/util.js'))}
    ${h.javascript_link(h.url('/js/actb.js'))}
    ${self.head()}
    <script type="text/javascript">
      //Fixes navbar behavior with hashchanges
      var shiftWindow = function() { scrollBy(0, -50) };
      if (location.hash) shiftWindow();
      window.addEventListener("hashchange", shiftWindow);
        $("[.pull-right]").tooltip();
    </script>
  </head>

  <body>
    ${self.header()}
    <div class="container" id="container">
      <div class="row">
        ${next.body()}
      </div>
      ${self.footer()}
    </div>
  </body>
</html>

<%def name="title()">InPhO</%def>

<%def name="head_title()">InPhO</%def>

<%def name="head()"></%def>

<%def name="sidebar()"></%def>

<%def name="header()">
<div class="navbar navbar-fixed-top navbar-inverse" id="header">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><a href="/"><i class="icon-home icon-white"></i></a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/papers/">Papers</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/docs/">REST API</a></li>
            <li><a href="/owl/">OWL Archive</a></li>
            <li><a href="http://inpho.cogs.indiana.edu/datablog/">Data Blog</a></li>
            <li><a href="http://github.com/inpho">Source Code</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li>
          <form class="navbar-search" action="/entity" method="get">
            <% q = request.params.get('q','') %>
            <input type="hidden" name="redirect" value="true" />
            <input class="search-query input-medium" type="text" id="nav-search" name="q" ${'value="'+q+'"' if q else ''} data-provide="typeahead" autocomplete="off" />
          </form>
          <script src="/js/actb.js"></script>
          <script>inpho.actb.init('#nav-search', '/entity.json'); </script>
        </li>

        <li class="divider-vertical"></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/taxonomy"><i class="icon-comment"></i> Taxonomy</a></li>
            <li><a href="/thinker"><i class="icon-user"></i> Thinkers</a></li>
            <li><a href="/journal"><i class="icon-list-alt"></i> Journals</a></li>
          </ul>
        </li>
        
        %if h.auth.is_admin():

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="${h.url(controller='admin', action='tests')}">Unit Tests</a></li>
            <li><a href="${h.url(controller='entity', action='list_new')}">New SEP Entries</a></li>
            <li><a href="${h.url(controller='entity', action='new')}">Create New Entity</a></li>
            <li class="divider"></li>
            <li><a href="${h.url(controller='thinker', action='data_integrity')}">Thinker Data Integrity</a></li>
            <li><a href="${h.url(controller='journal', action='data_integrity')}">Journal Data Integrity</a></li>
            <li><a href="${h.url(controller='idea', action='data_integrity')}">Idea Data Integrity</a></li>
            <li><a href="${h.url(controller='school_of_thought', action='data_integrity')}">School of Thought Data Integrity</a></li>
          </ul>
        </li>
        %endif

        <li class="divider-vertical"></li>

        % if h.auth.is_logged_in() and not (request.urlvars['controller'] == 'account' and request.urlvars['action']  == 'signout'):
        <li><a href="${h.url(controller='account', action='profile')}">${h.auth.username(request)}</a></li>
        <li><a href="${h.url('signout')}">Sign Out</a></li>
        %else:
        <li><a href="${h.url('register')}">Register</a></li>
        <li><a href="${h.url('signin')}">Sign In</a></li>
        %endif
      </ul> 
    </div>
  </div>
</div>
</%def>

<%def name="footer()">
<footer class="footer">
  <hr />
  <p>
    <a href="http://www.neh.gov/odh/" title="Office of Digital Humanities" class="pull-right">
      <img src="/img/ODH.jpg" alt="Office of Digital Humanities" style="border: 0px; margin-left: 10px;" />
    </a>
    Funded through several generous grants by the <a href="http://www.neh.gov/odh/">National Endowment of the Humanities, Office of Digital Humanities</a>. 
    Any views, findings, conclusions or recommendations expressed in this website do not necessarily represent those of the NEH.
  </p>
  <hr />
  <p>
    <a href="http://www.iub.edu" title="Indiana University" class="pull-left">
      <img src="/img/iub_white.gif" alt="Indiana University Bloomington" style="border: 0px; margin-right: 10px;"/>
    </a>
    <a href="http://www.cogs.indiana.edu">Cognitive Science Program</a> | 819 Eigenmann Hall, 1910 E. 10th St.  Bloomington, IN 47406-7512
    <br /> 
    <a href="http://www.indiana.edu/comments/copyright.shtml">Copyright</a> &copy; 2013 The Trustees of <a href="http://www.indiana.edu/">Indiana University</a>
     | <a href="http://www.indiana.edu/comments/complaint.shtml">Copyright Complaints</a> | <a href="/privacy/">Privacy Policy</a>
  </p>
  <hr />
  <p style="margin-bottom: 25px;">
    InPhO is committed to open access.
    Data published via <a href="/docs/">the REST API</a>, <a href="http://inpho.cogs.indiana.edu/datablog">datablog</a>, and <a href="/owl/">OWL archives</a> are licensed by the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA 3.0 License</a>.
    Developed using open-source technologies and distributed on <a href="http://github.com/inpho/">GitHub</a>.
  </p>
</footer>
</%def>
