<%inherit file="/base.html" />
<%namespace file="/actb.html" name="actb" />

<%def name="sidebar(node=None)">
<a href="/"><img src="/img/InPhO-internet.png" width="185" style="margin-top: -11px; margin-bottom:10px;"></a>
${draw(getattr(c, "node", None))}
</%def>

<%def name="draw(node=None)">
<div id="chart" data-selected=${node.ID if node is not None else 0}></div>
<script type="text/javascript" src="/js/tree-vertical.js"></script>
</%def>

<%def name="head_title()">
${next.head_title()}
</%def>

${next.body()}
