<html>
  <body>
    <head>
      <link rel="stylesheet" type="text/css" href="/css/date.css" />
      
      <script src="http://code.jquery.com/jquery-latest.js"></script>
    </head>
    
    <form name="date" action="/entity/${c.id}/date/${c.id2}" method="POST">
      <fieldset>
	<legend>Date</legend>
	<select name="month" id="month">
	    <option value="0">Month</option>
	    <option value="1">January</option>
	    <option value="2">February</option>
	    <option value="3">March</option>
	    <option value="4">April</option>
	    <option value="5">May</option>
	    <option value="6">June</option>
	    <option value="7">July</option>
	    <option value="8">August</option>
	    <option value="9">September</option>
	    <option value="10">October</option>
	    <option value="11">November</option>
	    <option value="12">December</option>
	</select>

	<select name="day" id="day">
	  <option value="0">Day</option>
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
	  <option>6</option>
	  <option>7</option>
	  <option>8</option>
	  <option>9</option>
	  <option>10</option>
	  <option>11</option>
	  <option>12</option>
	  <option>13</option>
	  <option>14</option>
	  <option>15</option>
	  <option>16</option>
	  <option>17</option>
	  <option>18</option>
	  <option>19</option>
	  <option>20</option>
	  <option>21</option>
	  <option>22</option>
	  <option>23</option>
	  <option>24</option>
	  <option>25</option>
	  <option>26</option>
	  <option>27</option>
	  <option>28</option>
	  <option class="variable_day">29</option>
	  <option class="variable_day">30</option>
	  <option class="variable_day">31</option>
	</select>
	
	<input type="text" name="year" size="4" maxlength="4" value="Year" id="year" />
	
	<select name="era" id="era">
	  <option>Era</option>
	  <option value="bce">B.C.E. (B.C.)</option>
	  <option value="ce">C.E. (A.D.)</option>
	</select>

	<label for="is_date_range">Date Range?</label>
	<input type="checkbox" name="is_date_range" value="is_date_range" id="is_date_range"/>
	
	<br />
	
	<div id="date_range">
	  <select name="month_end">
	    <option value="0">Month</option>
	    <option value="1">January</option>
	    <option value="2">February</option>
	    <option value="3">March</option>
	    <option value="4">April</option>
	    <option value="5">May</option>
	    <option value="6">June</option>
	    <option value="7">July</option>
	    <option value="8">August</option>
	    <option value="9">September</option>
	    <option value="10">October</option>
	    <option value="11">November</option>
	    <option value="12">December</option>
	  </select>
	  
	  <select name="day_end">
	    <option value="0">Day</option>
	    <option>1</option>
	    <option>2</option>
	    <option>3</option>
	    <option>4</option>
	    <option>5</option>
	    <option>6</option>
	    <option>7</option>
	    <option>8</option>
	    <option>9</option>
	    <option>10</option>
	    <option>11</option>
	    <option>12</option>
	    <option>13</option>
	    <option>14</option>
	    <option>15</option>
	    <option>16</option>
	    <option>17</option>
	    <option>18</option>
	    <option>19</option>
	    <option>20</option>
	    <option>21</option>
	    <option>22</option>
	    <option>23</option>
	    <option>24</option>
	    <option>25</option>
	    <option>26</option>
	    <option>27</option>
	    <option>28</option>
	    <option>29</option>
	    <option>30</option>
	    <option>31</option>
	  </select>
	  <input type="text" name="year_end" size="4" maxlength="4" value="Year" id="year_end" />
	  
	  <select name="era_end" id="era_end">
	    <option>Era</option>
	    <option value="bce">B.C.E. (B.C.)</option>
	    <option value="ce">C.E. (A.D.)</option>
	  </select>
	</div>
	
	<hr />
	
	<button type="submit" id="submit">Submit</button>

      </fieldset>
    </form>
    
    <script>
      <!-- script handling form expansion/collapse for date ranges-->
      $("#is_date_range").click(
      function() {
         if ($("#date_range").is(":hidden")) {
            $("#date_range").slideDown();
         }   
         else {
            $("#date_range").slideUp();          
            var month = $("#month").val();
            var day = $("#day").val();
            var year = $("#year").val();
            var era = $("#era").val();
            $('form')[0].reset();
            $("#month").val(month);
            $("#day").val(day);
            $("#year").val(year);
            $("#era").val(era);
         }
      });
      
      <!-- scripts for auto selecting the year/year_end textboxes  -->
      $("#year").click(
      function() {
         $(this).select();
      });
      $("#year_end").click(
      function() {
         $(this).select();
      });

      /*
      $("#submit").click(
      function() {
         $(".variable_day").remove();
      });  
      */

      <!-- script for validating dates  -->
      $(document).ready(function() {
         $("#submit").click(
            function() {
               if (($("#era").val() == "ce") && ($("#era_end").val() == "bce")) {
                  alert("Please review your beginning and ending eras:\nyou cannot go back in time!");
               }
               else if (((($("#year").val() !== "Year") && ($("#year").val() !== "")) && ($("#era").val() == "Era")) || ((($("#year_end").val() !== "Year") && ($("#year_end").val() !== "")) && ($("#era_end").val() == "Era"))) {
                       alert("Please specify an era for any given years.")
               }
               else if (($("#year").val() > $("#year_end").val()) && ($("#era").val() == "ce") && ($("#era_end").val() == "ce")) {
                       alert("Please review your beginning and ending years:\nyou cannot go back in time!");
               }
               else if (($("#year").val() < $("#year_end").val()) && ($("#era").val() == "bce") && ($("#era_end").val() == "bce")) {
                       alert("Please review your beginning and ending years:\nyou cannot go back in time!");
               }
               /* NEEDS TO SUBMIT TO DATABASE RATHER THAN CHANGE VALUE, SINCE YEAR VALUES ARE LIMITED TO FOUR CHARACTERS IN LENGTH
	       else if (#("#era").val() == "bce") {
                       $("#year").val(0 - $("#year").val());
               }
               else if (#("#era_end").val() == "bce") {
                       $("#year_end").val(0 - $("#year_end").val());
               }
               */
            });
         });
    </script>
  </body>
</html>
