<table style="font-size: 11px; padding-left: 5px; padding-right: 5px; background-color: white; width: 100%; border-top: solid maroon 1px; border-bottom: solid maroon 1px; vertical-align:top">
    <tr>
      <td width="25%">
        <a href="http://www.iub.edu" title="Indiana University"><img src="http://www.indiana.edu/~hpscdept/img/iub_white.gif" alt="Indiana University Bloomington" style="border: 0px" align="left"/></a></td>
      <td width="25%" style="vertical-align:top; padding-top:9px;">
        <a href="http://www.cogs.indiana.edu">Cognitive Science Program</a><br />
    819 Eigenmann Hall, 1910 E. 10th St.<br />
    Bloomington, IN 47406-7512
      </td>

      <td width="25%" style="vertical-align:top; padding-top:9px; padding-bottom: 9px; text-align: center">
        <a href="mailto://inpho@indiana.edu">Comments</a><br />
        <a href="http://inpho.cogs.indiana.edu/">InPhO Home</a><br />
        <a href="http://inpho.cogs.indiana.edu/myinpho.php">MyInPhO</a>
      </td>
      <td width="25%" style="vertical-align:top; padding-top:9px; text-align: right">
        <a href="http://www.indiana.edu/copyright.html">Copyright</a> &copy; 2008<br />

        
        The Trustees of <a href="http://www.indiana.edu/">Indiana University</a><br />
        <a href="http://www.indiana.edu/comments/complaint.shtml">Copyright Complaints</a>
      </td>
    </tr>
  </table>

