<%def name="checkbox_group(attrs, label)">
<div class="clearfix">
<label>${label}</label>
<div class="input">
<ul class="inputs-list">
%for attr, label in attrs:
    <li>${checkbox(attr, label)}</li>
%endfor
</ul>
</div>
</div>
</%def>

<%def name="checkbox(attr, label)">
<label>
    %if getattr(c.entity, attr):
    <input type="checkbox" name="${attr}" id="${attr}_check" value="${attr}" onclick="submit_field('${attr}', '${c.entity.url()}')" checked="true" />
    %else:
    <input type="checkbox" name="${attr}" id="${attr}_check" value="${attr}" onclick="submit_field('${attr}', '${c.entity.url()}')" />
    %endif
    <span>${label}</span>
</label>
</%def>

<%def name="toggletext(attr, uneditable=False)">
<div class="clearfix">
<label for="${attr}_field">${attr}:</label>
<div class="input">
    %if uneditable:
    <span id="${attr}_field" class="uneditable-input"> 
    %else:
    <span id="${attr}_field" onclick="edit('${attr}', '${c.entity.url()}')"
          style="height: 20px; width: 200px; text-overflow: ellipsis; display: block; float: left;"> 
    %endif
        <span class="current" id="current_${attr}">${getattr(c.entity, attr)}</span>
    </span>
    %if attr == "URL":
    <span id="URL_test" style="float: right;">
      <script type="text/javascript">
      function test_URL_fn() {
          if (document.getElementById('current_URL') != null) {
              window.open(document.getElementById('current_URL').innerHTML.trim());    
          } else {
              window.open(document.getElementById('URL_text').value);
          }
      }
      </script>
      %if c.entity.URL:
      <input type="button" class="btn primary" id="test_URL" onclick="test_URL_fn()" value="Test" />
      %else:
      <input type="button" class="btn primary" id="test_URL" onclick="test_URL_fn()" value="Test" disabled="true" />
      %endif
      <a class="btn" id="test_URL" href="${c.entity.google_url}" target="_blank">Google</a></dt>
    </span>
    %endif
</div>
</div>
</%def>
