<%inherit file="/base-nosidebar.html"/>
<%namespace file="/actb.html" name="actb" /> 
<%def name="title()">${parent.title()} - The Internet Philosophy Ontology Project</%def>
<%def name="head_title()"></%def>

<div class="hero-unit graph-bg" style="text-align: center;">
  <div class="graph-content">
  <h1>The <span class="logo-word">InPhO</span> Project</h1>
  <p><span class="big">Welcome</span> to the Internet Philosophy Ontology (InPhO) project!</p>
  <p>We offer a variety of tools for students, researchers, programmers and scholars. <br />
     The ontology currently covers philosophical <a href="/idea">ideas</a>, 
     <a href="/thinker">thinkers</a>, and <a href="/journal">journals</a>.</p>
<div class="centered">
  <strong><a id="search-btn" class="btn btn-info" style="margin-bottom: 20px;"><i class="icon-search icon-white"></i> Search the Taxonomy</a></strong>
  <form id="search-form" class="form-stacked" method="get" action="/entity?id=None" autocomplete="off">
    <input type="hidden" value="True" name="redirect">
    ${actb.actb("q")}
  </form>
  <strong><a href="/taxonomy" class="btn btn-success" style="margin-bottom: 20px;"><i class="icon-arrow-right icon-white"></i> Browse the Taxonomy</a></strong>
  </div>
</div>
</div>


<div class="span3">
<h3>Philosophy Big Data</h3>
<p>The InPhO analyzes over 37 million words of philosophical content from:</p>
<ul style="margin-left: 0px;">
  <li><a href="http://plato.stanford.edu">Stanford Encyclopedia of Philosophy</a></li>
  <li><a href="http://www.iep.utm.edu/">Internet Encyclopedia of Philosophy</a></li>
  <li><a href="http://philpapers.org/">PhilPapers</a></li>
  <li><a href="http://www.hathitrust.org/">HathiTrust/Google Books Collection</a></li>
</ul>
<p>We are committed to open access, with data available <a href="/docs/">via a REST API</a>, <a href="/owl/">a monthly OWL archive</a> of the ontology, visualizations and datafiles posted <a href="http://inpho.cogs.indiana.edu/datablog/">on our datablog</a>, and <a href="http://github.com/inpho">source code at GitHub</a>.  All data uses the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA 3.0 license</a>.
<h3>&nbsp;</h3>
<h3>The InPhOrmers</h3>
<p>The InPhOrmers create the InPhO. Find out more about the team:</p>
<div class="centered">
<strong><a class="btn" href="/about/"><i class="icon-user"></i> The InPhOrmers</a></strong>
</div>
</div>

<div class="span6 taxonomy">
<div class="row">
<div class="span4">
<h3>Dynamic Ontology</h3>
<p>The InPhO is constructed by a novel 3-step semi-automated process, called <strong>dynamic ontology</strong>:</p>
<ol>
  <li><strong>Data Mining</strong> &mdash; Natural language processing (NLP) techniques generate statistical hypothesis
      about the relationships among philosophically-salient topics.</li>
  <li><strong>Expert Feedback</strong> &mdash; These hypotheses are evaluated by domain experts through online interfaces.</li>
  <li><strong>Machine Reasoning</strong> &mdash; Our machine reasoning program uses feedback and statistical measures to populate the ontology.</li>
</ol>

<p>Further details on dynamic ontology can be found on the <a href="/papers/">Articles and Papers</a> page.</p>
</div>
<div class="span2" style="height: 356px; margin-bottom: -50px;">
  <a href="/taxonomy" style="display: block; width: 100%; height:100%;">&nbsp;</a>
</div>
</div>
</div>

<script>
$('#search-btn').click(function() {
  $('#search-btn').toggle('slow');
  $('#search-form').toggle('slow');
  $('#q').focus();
  });
</script>

<div class="span3">
<h3>Data Blog</h3>
<a href="http://inpho.cogs.indiana.edu/datablog/"><img src="/img/datablog-thumb.png" style="padding-bottom:20px" alt="thumbnail of InPhO data blog" /></a>
<div class="centered">
<strong><a class="btn" href="http://inpho.cogs.indiana.edu/datablog/"><i class="icon-book"></i> Read More</a></strong>
</div>
</div>
