<%inherit file="/base-nosidebar.html"/>
<%def name="title()">${parent.title()} - The Internet Philosophy Ontology Project</%def>
<%def name="head_title()">Articles & Papers</%def>

<div class="hero-unit graph-bg" style="text-align: center;">
  <div class="graph-content">
  <h1>Articles &amp; Papers</h1>
  <p>Find more details about dynamic ontology and digital philosophy.</p>
  </div>
</div>

<style>.thumbnail { height: 265px; position: relative;}</style>
<div class="span12">
<ul class="thumbnails">
<% publications = c.papers['publications'] %>
%for i, paper in enumerate(publications):
%if i % 4 == 0:
<div style="padding-bottom: 20px; display: table;">
%endif
<li class="span3" id="${paper['id']}">
  <div class="thumbnail">
	  <!--<h4>
      ${paper['title']} 
    </h4> -->
    <a class="pull-right" href="${paper['fulltext']}" style="display:block">
    %if paper.get('thumbnail'):
    <img src="${paper['thumbnail']}">
    %else:
    <img src="http://placehold.it/210x120">
    %endif
	  <img src="/img/pdf_icon.gif" style="position: relative; top: -22px; float: right; margin-right: 6px;"/></a>
	  <p>
	    <strong>${paper['year']}</strong> &mdash; ${paper['summary']}
    </p>
	  <div class="centered" style="position:absolute; bottom: 6px; width: 210px;">
    <a href="#${paper['id']}-abstract" class="btn btn-mini" role="button" data-toggle="modal">
	      <strong>Show Abstract</strong>
	    </a>
    </div>
    <div id="${paper['id']}-abstract" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="${paper['id']}-label" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="${paper['id']}-label">${paper['title']}</h3>
      </div>
      <div class="modal-body">
        <p>${paper['abstract']}</p>
        <p class="citation"><small>${paper['authors']}.
            <em>${paper['title']}</em>.
            ${paper['publisher']}, ${paper['year']}.</small>
    	  </p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <a class="btn" href="${paper['fulltext']}"><img src="/img/pdf_icon.gif"> Full paper</a>
      </div>
    </div>
## TODO: Citation information from pubs
  </div>
%if i % 4 == 3 or i == (len(publications) - 1):
</div>
%endif
</li>
%endfor
</ul>
</div>
<script type="text/javascript">
//open modal if direct link to hash
if(window.location.hash){
  $(window.location.hash).modal('show');  
}
</script>
