<%inherit file="/base-tree.html"/>
<%def name="title()">${parent.title()} - The Indiana Philosophy Ontology Project</%def>
<%def name="head_title()">Articles & Papers</%def>
<%def name="sidebar()">
${parent.sidebar()}
<br />
${parent.draw()}</%def>
<div class="yui-gd">
  <div id="content">
    <h2>Papers</h2>
    <hr />

    <%
       publications = c.papers['publications']
    %>

    %for i, paper in enumerate(publications):
    <% 
       publication = publications[i] 
       publicationId = publication['id']
       publicationTitle = publication['title']
       publicationDate = publication['publication_date']
       publicationFulltext = publication['fulltext']
       publicationSummary = publication['summary']
    %>
    <div class="accordion" id="${publicationId}">
      <div class="accordion-group" style="border: none;">
	<div class="accordion-heading">
	  <h3>
	    ${publicationTitle}
	    <span class="fullpaper" style="float:right;">
	      <a href="${publicationFulltext}"> 
		Full paper 
		<img src="/img/pdf_icon.gif"/>
	      </a>
	    </span>
	  </h3>
	  <p class="summary">
	    %if publicationSummary:
	    <strong>${publicationDate}</strong> &mdash; ${publicationSummary}
	    <br />
	    %endif
	    <a class="toggle-abstract accordion-toggle" data-toggle="collapse" onClick="toggleAbstract($(this).attr('data-parent'))" data-parent="#${publicationId}" href="#${publication['id']}Abstract" style="display: inline;">
	      <strong>&laquo;show abstract&raquo;</strong>
	    </a> 
	  </p>
	</div>
	<div class="accordion-body collapse" id="${publicationId}Abstract">
          <p> 
	    ${publication['abstract']}
	  </p>
	  <p class="citation">${publication['authors']}.
            <em>${publicationTitle}</em>.
            ${publication['publisher']}, ${publicationDate}.
            [<a href="${publicationFulltext}">full paper</a>]
	  </p>
	</div>
      </div>
    </div>
    %endfor

    <div id="APA2007">
      <h3>
	InPhO: The Indiana Philosophy Ontology
	<span class="fullpaper" style="float:right;">
	  <a href="http://inpho.cogs.indiana.edu/papers/v07n1_Computers.pdf"> 
	    Full paper 
	    <img src="/img/pdf_icon.gif"/>
	  </a>
	</span>
      </h3>
      <p class="citation">Cameron Buckner, Mathias Niepert, Colin Allen. <em>InPhO: The Indiana Philosophy Ontology</em>.
	APA Newsletter on Philosophy and Computers, Volume 7, Number 1, pages 26-28, 2007.
	[<a href="http://inpho.cogs.indiana.edu/papers/v07n1_Computers.pdf">full paper</a>]</p> 
    </div>
  </div>
</div>

<br />

<script>
  $(".collapse").collapse({
  toggle: false
  });

  function toggleAbstract(id) {
  $(id).on("shown", function() {
  $(id+" div div p .accordion-toggle").html("<strong>&laquo;hide abstract&raquo;</strong>");
  });
  $(id).on("hidden", function() {
  $(id+" div div p .accordion-toggle").html("<strong>&laquo;show abstract&raquo;</strong>");
  });
  }
</script>
