<%! import urllib %>
<%inherit file="/base-tree.html" />
<%namespace name="entity" file="/entity/entity.html" />
<%def name="head()">
<script src="/js/eval.js" type="text/javascript"></script>
<script src="/js/admin.js" type="text/javascript"></script>
<script src="/js/tabnav.js" type="text/javascript"></script>
<script src="/js/entity.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/css/idea-edit.css">
</%def>

## Header
<%def name="title()">${parent.title()} - Idea - ${h.titlecase(c.entity.label)}</%def>
<%def name="head_title()">${h.titlecase(c.entity.label)}</%def>

<script type="text/javascript">
inpho.eval.alert = true;

$(document).ready(function() {
    $('#tabnav').tab();
    if (window.location.hash != "") {
        if (window.location.hash.substring(1,2) == 'i') {
            var id = window.location.hash.substring(2);
            $.getJSON('/idea/'+id+'.json',
              function(data) {
                  var title = data.responseData.result.label;
                  inpho.tabnav.appendTab('tabnav', 'i' + id, title, '/idea/${c.entity.ID}/panel/' + id);
                });
        }
        inpho.tabnav.switchTab('tabnav', window.location.hash.substring(1));  
        $('body').scrollTop(0);
    }
});
</script>

${entity.breadcrumbs(c.node)}
<h1 id="label">${h.titlecase(c.entity.label)}</h1>

%if c.entity.sep_dir:
<p><a href="http://plato.stanford.edu/entries/${c.entity.sep_dir}/"><img src="/img/sepmanicon.png" /> ${h.titlecase(c.entity.label)}</a> is also an article in the Stanford Encyclopedia of Philosophy.</p>
%endif
%if c.entity.wiki:
<p><a href="http://wikipedia.org/wiki/${c.entity.wiki.decode('utf-8')}" target="_blank"><img src="/img/wikiicon.png" /> ${h.titlecase(c.entity.label)}</a> also has a Wikipedia article.</p>
%endif


<p><a href="http://philpapers.org/s/${c.entity.label.replace(' ', '%20')}"> <img src="/img/pp.gif"/> ${h.titlecase(c.entity.label)}</a> can be searched on PhilPapers.</p>


<ul class="nav nav-tabs" id="tabnav" data-tabs="tabs">
    <li id="home-tab" class="active"><a href="#home" data-toggle="tab"><i class="icon-home"></i></a></li>
    %if h.auth.is_logged_in():
    <li id="evaluate-tab" onclick="inpho.tabnav.lazyLoad('tabnav','evaluate', '/idea/${c.entity.ID}/evaluate')"><a href="#evaluate" data-toggle="tab"><i class="icon-pencil"></i> Evaluate</a></li>
    %endif
    %if h.auth.is_admin():
    <li id="admin-tab"><a href="#admin" data-toggle="tab"><i class="icon-pencil"></i> Admin</a></li>
    %endif
</ul>

<div class="tab-content" id="tabnav-content">
    <div class="tab-pane active" id="home">

%if c.entity.sep_dir:
<div class="explorer">
<h3>Topic Explorer</h3>
<style>
body {
  }
.bar {
    fill: steelblue;
}
.bar:hover {
    fill: brown;
}
rect {
  opacity: 0.6;
}
rect.hover {
  stroke: #000;
  stroke-width: 1;
  shape-rendering: crispEdges;
  cursor: crosshair;
  opacity: 0.8;
}
.doc:hover rect, .doc.hover rect {
  cursor: crosshair;
  opacity: 1.0;
}
rect:hover {
  opacity: 1.0 !important;
  stroke: #000;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

</style>


<script>
function visualize(port) {

var maxRows = 25;
var minCols = 2;

//${c.entity.sep_dir}
var docid = "${c.entity.sep_dir}";

var width = $('.bar-container').width(),
    height = 20;

var x = d3.scale.linear()
    .range([0, width])
    .domain([0,1.0]);

var color = d3.scale.category20c();

var svg = d3.select("#bar"+port+" #chart").insert("svg")
    .attr("width", width)
    .attr("height", height)
    .attr("id","main")
    .attr("class", "main");
$('#main', '#bar'+port).hide();

function calculateTopicMap(data, scale, sortFn){
  data.forEach(function(d) {
    var sizeFactor = (scale) ? d.prob : 1.0
    var x0 = 0;
    if (sortFn) d.topicMap = color.domain()
      .sort(sortFn)
      .map(function(name) { return {name: name, x0: x0, x1: x0 += +(d.topics[name]*sizeFactor) }; });
    else d.topicMap = color.domain()
      .map(function(name) { return {name: name, x0: x0, x1: x0 += +(d.topics[name]*sizeFactor) }; });
  });
  
}

var url = "/docs_topics/" + docid + '.json?n=1'
var host = "http://inphodata.cogs.indiana.edu:" + port;

d3.json(host + url, function(data, error) {
  $('#status .bar', '#bar'+port).css('width', '50%').text('Loading topics...');
  if (error) {
    $('#status .progress', '#bar'+port).removeClass('active progress-striped');
    var errormsg = "Invalid document: " + docid + ".";

    $('#status .bar', '#bar'+port).addClass('bar-danger').text(errormsg);
    return false;
  }
  console.log(data);
  d3.json(host + "/topics.json", function(topics, error_top) {
    $('#status .bar', '#bar'+port).css('width', '75%').text('Rendering chart...');
    if (error_top) {
      $('#status .progress', '#bar'+port).removeClass('active progress-striped');
      $('#status .bar-danger', '#bar'+port).addClass('bar-error').text('Could not load topic list.');
      return false;
    }

    var k = d3.keys(topics).length;
    var full_explorer_url = (k < 100) ?
      "http://inphodata.cogs.indiana.edu:160"+k+"/?doc="+docid :
      "http://inphodata.cogs.indiana.edu:16"+k+"/?doc="+docid;
  
    color.domain(d3.keys(data[0].topics));
  
    calculateTopicMap(data, true, function(a,b) {return data[0].topics[b] - data[0].topics[a];});
  
    // draw total bar
    var doc = svg.selectAll("doc")
        .data(data)
      .enter().append("g")
        .attr("class","doc");
  
    // Draw topic bars
    doc.selectAll("rect")
        .data(function(d) { return d.topicMap; })
      .enter().append("rect")
        .attr("height", height)
        .attr("x", function(d) { return x(d.x0); })
        .attr("width", function(d) { return x(d.x1) - x(d.x0); })
        .attr("class", function(d) { return "top_" + d.name; })
        .attr("title", function(d) { return d3.keys(topics[d.name]['words']).join(", ") + ", ..."; })
        .on("mouseover", function(d) {
            // SVG element z-index determined by render order, not style sheet
            // so element must be reappended to the end on hover so border 
            // is not occluded
            var parent = $(this).parent();
            $(this).detach().appendTo(parent);
          })
        .on("click", function(d) { window.location = full_explorer_url; })
        .style("fill", function(d) { return color(d.name); });
  
  
    $(".doc rect").tooltip({container:'body', 
                            animation: false, placement: 'top'});
    
    $('#status .bar', '#bar'+port).addClass('bar-success').css('width', '100%').text("Complete!");
    setTimeout(function() {$('#status', '#bar'+port).hide()}, 250);
    setTimeout(function() {$('#main', '#bar'+port).show()}, 250);

}); });

}
</script>

<%def name="singleBar(port)">
<div class="bar-container" id="bar${port}">
  <div id="status" style="width:100%">
    <div class="progress loading progress-striped active">
      <div class="bar" style="width:25%">Loading documents...</div>
    </div>
  </div>
  <div id="chart"> </div>
</div>
<script>
visualize(${port});
</script>
</%def>

<!-- render single bar (all ports are hard coded at this time) -->
${singleBar(16020)}
${singleBar(16040)}
${singleBar(16060)}
${singleBar(16080)}
${singleBar(16100)}
${singleBar(16120)}
</div>
%endif
    	${entity.printList('instances', method='reasoning')}
        ##${entity.printList('children', 'Subclasses')}  
    	${entity.printList('links', method='reasoning')}
        ${entity.printList('related', 'Related Terms', method='statistical')}
        ${entity.printList('related_thinkers', method='statistical')}
        ${entity.printList('hyponyms', method='statistical')}
        ${entity.printList('occurrences', method='statistical')}

%if not (c.entity.links[:10] or c.entity.instances[:10] or c.entity.related[:10] or c.entity.related_thinkers[:10] or c.entity.hyponyms[:10] or c.entity.occurrences[:10]):
${entity.printMissing()}
%endif

</div>
## If user is logged in, show evaluations
%if h.auth.is_logged_in():
    <div class="tab-pane" id="evaluate"></div>
%endif
## If user is authorised, show admin panel
%if h.auth.is_admin():
    <div class="tab-pane" id="admin">
        ${entity.printAdminPanel(["id", "label", "sep_dir", "wiki", "searchstring", "searchpatterns", "in-degree", "out-degree", "entropy"])}
    </div>
%endif
</div> <!-- tab-content -->
