<%! import urllib %>
<%inherit file="/base-tree.html" />
<%namespace name="entity" file="/entity/entity.html" />
<%def name="head()">
<script src="/js/eval.js" type="text/javascript"></script>
<script src="/js/admin.js" type="text/javascript"></script>
<script src="/js/tabnav.js" type="text/javascript"></script>
<script src="/js/entity.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/css/idea-edit.css">
</%def>

## Header
<%def name="title()">${parent.title()} - Idea - ${h.titlecase(c.entity.label)}</%def>
<%def name="head_title()">${h.titlecase(c.entity.label)}</%def>

<script type="text/javascript">
inpho.eval.alert = true;

$(document).ready(function() {
    $('#tabnav').tab();
    if (window.location.hash != "") {
        if (window.location.hash.substring(1,2) == 'i') {
            var id = window.location.hash.substring(2);
            $.getJSON('/idea/'+id+'.json',
              function(data) {
                  var title = data.responseData.result.label;
                  inpho.tabnav.appendTab('tabnav', 'i' + id, title, '/idea/${c.entity.ID}/panel/' + id);
                });
        }
        inpho.tabnav.switchTab('tabnav', window.location.hash.substring(1));  
        $('body').scrollTop(0);
    }
});
</script>

${entity.breadcrumbs(c.node)}
<h1>${h.titlecase(c.entity.label)}</h1>

%if c.entity.sep_dir:
<p><a href="http://plato.stanford.edu/entries/${c.entity.sep_dir}/"><img src="/img/sepmanicon.png" /> ${h.titlecase(c.entity.label)}</a> is also an article in the Stanford Encyclopedia of Philosophy.</p>
%endif
%if c.entity.wiki:
<p><a href="http://wikipedia.org/wiki/${c.entity.wiki.decode('utf-8')}" target="_blank"><img src="/img/wikiicon.png" /> ${h.titlecase(c.entity.label)}</a> also has a Wikipedia article.</p>
%endif


<p><a href="http://philpapers.org/s/${c.entity.label.replace(' ', '%20')}"> <img src="/img/pp.gif"/> ${h.titlecase(c.entity.label)}</a> can be searched on PhilPapers.</p>


<ul class="nav nav-tabs" id="tabnav" data-tabs="tabs">
    <li id="home-tab" class="active"><a href="#home" data-toggle="tab"><i class="icon-home"></i></a></li>
    %if h.auth.is_logged_in():
    <li id="evaluate-tab" onclick="inpho.tabnav.lazyLoad('tabnav','evaluate', '/idea/${c.entity.ID}/evaluate')"><a href="#evaluate" data-toggle="tab"><i class="icon-pencil"></i> Evaluate</a></li>
    %endif
    %if h.auth.is_admin():
    <li id="admin-tab"><a href="#admin" data-toggle="tab"><i class="icon-pencil"></i> Admin</a></li>
    %endif
</ul>

<div class="tab-content" id="tabnav-content">
    <div class="tab-pane active" id="home">
    	${entity.printList('instances', method='reasoning')}
        ##${entity.printList('children', 'Subclasses')}  
    	${entity.printList('links', method='reasoning')}
        ${entity.printList('related', 'Related Terms', method='statistical')}
        ${entity.printList('related_thinkers', method='statistical')}
        ${entity.printList('hyponyms', method='statistical')}
        ${entity.printList('occurrences', method='statistical')}

%if not (c.entity.links[:10] or c.entity.instances[:10] or c.entity.related[:10] or c.entity.related_thinkers[:10] or c.entity.hyponyms[:10] or c.entity.occurrences[:10]):
${entity.printMissing()}
%endif

</div>
## If user is logged in, show evaluations
%if h.auth.is_logged_in():
    <div class="tab-pane" id="evaluate"></div>
%endif
## If user is authorised, show admin panel
%if h.auth.is_admin():
    <div class="tab-pane" id="admin">
        ${entity.printAdminPanel(["id", "label", "sep_dir", "wiki", "searchstring", "searchpatterns", "in-degree", "out-degree", "entropy"])}
    </div>
%endif
</div> <!-- tab-content -->
