<%! import urllib %>
<%inherit file="/base-tree.html" />
<% 
#Intialize variables for evaluation interface
c.entID = 0 

if c.uid:
    onchange_rel = "onChange=\"thisFunc($(this).parent().parent(), 'relatedness')\""
    onchange_gen = "onChange=\"thisFunc($(this).parent().parent(), 'generality')\""
else:
    onchange_rel = ''
    onchange_gen = ''
%>
## Header
<%def name="title()">${parent.title()} - Idea - ${h.titlecase(c.idea.label)}</%def>
<%def name="head_title()">${h.titlecase(c.idea.label)}</%def>
## Sidebar
<%def name="sidebar()">
${parent.sidebar()}
<br />
${parent.draw(c.node)}</%def>

## Body
<div class="yui-gd">

<div id="contentLeft">
<script type="text/javascript">
var numEvals = 0;
var evalsEnabled = ${'true' if request.environ.get('REMOTE_USER') else 'false'};

function enableEvals() {
    evalsEnabled = true;    
    $('.active form:hidden').slideToggle();
    $('.evaltext').html("Thank you for improving the InPhO!");
}

function search(elm, id, id2) {
    if (!($(elm).hasClass('active'))) {
        $("#moreInfo").html("<p>Loading search results ...</p><p><img src='/img/loading.gif' /></p>");
        var src  = '/entity/' + id + '/search_with/' + id2;
        $.get(src, function(data){
                $("#moreInfo").html(data);
            });
        $('.active .child').slideToggle("slow")
        $('.active .childLink').slideToggle("slow")
        if (evalsEnabled) $('.active form').slideToggle();
        $('.active').removeClass('active');
        $(elm).addClass('active');
        if (evalsEnabled) $('> form', elm).slideToggle("slow");
        if (evalsEnabled) $('> form .generality', elm).hide();
        $('.child', elm).toggle("slow");
        $('.childLink', elm).toggle("slow");

    }
}

function incrEvals() {
    numEvals++;
}

function submitEvals(elm) {
   thisFunc(elm, 'relatedness');
   thisFunc(elm, 'generality');
   incrEvals();
}

function flagIdea(elm, id) {
     
}

function updateForm(elm, val, hide) {
    //update text
    switch(val) {
        case 0:
            if (hide) {
                $( "input[name='submit']", elm).show();
                $(".generality:visible", elm).slideToggle("slow");
            }
            $(".generality input[name='generality']", elm).attr("disabled","disabled");
            $(".generality input[name='generality']:radio", elm).removeAttr("checked");

            %if onchange_gen:
            thisFunc($("form", elm), 'generality');
            %endif
            $( ".reltext", elm ).html( "<em>unrelated</em> to ${c.idea.label}");
            break;
        case 1:
            $(".generality:hidden", elm).slideToggle("slow");
            $(".generality input[name='generality']", elm).removeAttr("disabled");
            $( ".reltext", elm).html( "<em>marginally related</em> to ${c.idea.label}" );
            $( "input[name='submit']", elm).show();
            break;
        case 2:
            $(".generality:hidden", elm).slideToggle("slow");
            $(".generality input[name='generality']", elm).removeAttr("disabled");
            $( ".reltext", elm).html( "<em>somewhat related</em> to ${c.idea.label}" );
            $( "input[name='submit']", elm).show();
            break;
        case 3:
            $(".generality:hidden", elm).slideToggle("slow");
            $(".generality input[name='generality']", elm).removeAttr("disabled");
            $( ".reltext", elm).html( "<em>related</em> to ${c.idea.label}" );
            $( "input[name='submit']", elm).show();
            break;
        case 4:
            $(".generality:hidden").slideToggle("slow");
            $(".generality input[name='generality']", elm).removeAttr("disabled");
            $( ".reltext", elm).html( "<em>highly related</em> to ${c.idea.label}" );
            $( "input[name='submit']", elm).show();
            break;
    }
}

function thisFunc(elm, changed) {
    var id   = $("> [name='ante_id']", elm).val();
    var id2  = $("> [name='cons_id']", elm).val();
    var flag = $("> [name='flag']", elm).val();
    var img  = $("> .loading", elm.parent());
    var generality  = $("> div input[name='generality']:checked", elm).val();
    var relatedness = $("> input[name='relatedness']", elm).val();
    if (id == null || id2 == null) {
        return false;    
    }
    if (changed == 'generality') {
        var url_gen = '/idea/' + id + '/generality/' + id2;
        img.attr("src", "/img/loading.gif");
        if (generality == '--') {
            $.ajax({type: 'DELETE',
            url: url_gen,
            success: function(data){
                img.attr("src", "/img/check.gif");
            }} );
        }
        else if (generality == undefined) {
        $.post(url_gen,
            { degree : -1 },
            function(data){
                img.attr("src", "/img/check.gif");
            } );
        }
        else {
        $.post(url_gen,
            { degree : generality },
            function(data){
                img.attr("src", "/img/check.gif");
            } );
        }
        //alert(id + '->' + id2 + '\n generality ' + generality);
    }
    else if (changed == 'relatedness') {
        var url_rel = '/idea/' + id + '/relatedness/' + id2;
        if (relatedness == '--') {
            $.ajax({type: 'DELETE',
                url: url_rel,
                success: function(data){
                    $("> input[name='relatedness']", elm).val(-1);
                    img.attr("src", "/img/check.gif");
                } });

        }
        else{
            $.post(url_rel,
                { degree : relatedness },
                function(data){
                    img.attr("src", "/img/check.gif");
                } );
        }
        //alert(id + '->' + id2 + '\n relatedness ' + relatedness );
    }
    
    if ((generality > -1) && (relatedness > -1)) {
        img.attr("src", "/img/check.gif");
        incrEvals();    
    }

    if (numEvals == 10) {
        $("#dialog").dialog({position: [490,380], modal : true, title : 'Thank you!'});
    } 
}



function resetEvaluation(elm){
    var id   = $("> [name='ante_id']", elm).val();
    var id2  = $("> [name='cons_id']", elm).val();
    var img  = $("> .loading", elm.parent());
    var url_gen = '/idea/' + id + '/generality/' + id2 + "?_method=DELETE";
    var url_rel = '/idea/' + id + '/relatedness/' + id2 + "?_method=DELETE";
    img.attr("src", "/img/loading.gif");
    $.ajax({type: 'GET',
            url: url_gen,
            success: function(data){
                $("> div input[name='generality']:radio", elm).removeAttr("checked");
            }} );
    $.ajax({type: 'GET',
            url: url_rel,
            success: function(data){
                $("> .slider", elm).slider("option", "value", -1);
                $("> .slidertext", elm).html("<strong>Drag slider to set relatedness:</strong>");
                $("> input[name='relatedness']", elm).val(-1);
            } });
    img.attr("src", "/img/empty.gif");
    numEvals--;
}



function toggleList(selector) {
    if ($('.on', selector).length > 0) {
        $('.on', selector).removeClass('on').addClass('off');
    } else {
        $('.off', selector).removeClass('off').addClass('on');
    }
    $('ol', selector).toggle("slow");
    $('ul', selector).toggle("slow");
    $('p', selector).toggle("slow");
    }

    
    
    
function initSlider(elm, rel, submitOnStop) {
    var form = elm.parent();

    elm.slider({
        value: rel,
        min: 0,
        max: 4,
        step: 1,
        change: function( event, ui ) {
            updateForm(form, ui.value, true);
        },
        slide: function( event, ui ) {
            updateForm(form, ui.value, false);
        }
        , stop: function( event, ui ) {   
            // if changed, update val and submit
            if (ui.value != $( "input[name='relatedness']", form).val()) {
                $( "input[name='relatedness']", form).val(ui.value);
                if (submitOnStop) thisFunc(form, 'relatedness');
            }
        }
    });
    $( "a", elm ).focusout(function( event, ui ) {
            $( "a", elm ).addClass("ui-state-hover"); 
        });
    if (rel == -1) {
        $(".generality input[name='generality']", form).attr("disabled","disabled");
        $(".generality input[name='generality']:radio", form).removeAttr("checked");
    }
    else {
        elm.slider("option", "value", rel);
    }
}

</script>

<h1>
<a href="#moreInfo" onClick="showHelp()"><img class="loading" src="/img/help-browser.png" title="Help"/></a>
${h.titlecase(c.idea.label)}

</h1>

%if c.idea.sep_dir:
<p><a href="http://plato.stanford.edu/entries/${c.idea.sep_dir}/">
<img src="/img/sepmanicon.png" /> ${h.titlecase(c.idea.label)}</a>
is also an article in the Stanford Encyclopedia of Philosophy.</p>
%endif

%if not request.environ.get('REMOTE_USER'):
<p class="evaltext">Help improve results by <strong><a href="#"
onClick="enableEvals($(this).parent().parent())">enabling anonymous 
idea evaluations</a></strong> or <strong><a href="${h.url('signin',
came_from=h.url(controller='taxonomy', id=c.node.ID, action='view'))}">signing
in</a></strong>! </p>
%endif

<p><a href="#moreInfo" onClick="showEvalHelp()"><img class="loading"
src="/img/help-browser.png" title="Help"/> What are evaluations?</a></p>

<div id="instances">
%if not c.idea.instances:
<h3 class="empty">Instances</h3>
%else:
<h3>Instances
<span class="toggle on" onclick="toggleList('#instances')">&nbsp;</span>
</h3>
<ul>
%for idea in c.idea.instances:
${printEntity(idea)}
%endfor
</ul>
%endif
</div>

<div id="subclasses">
%if not c.node.children:
<h3 class="empty">Subclasses</h3>
%else:
<h3>Subclasses
<span class="toggle on" onclick="toggleList('#subclasses')">&nbsp;</span>
</h3>
<ul>
%for child in c.node.children:
${printEntity(child.idea)}
%endfor
</ul>
%endif
</div>

<div id="links">
%if not c.idea.links:
<h3 class="empty">Links</h3>
%else:
<h3>Links
<span class="toggle on" onclick="toggleList('#links')">&nbsp;</span>
</h3>
<ul>
%for idea in c.idea.links:
${printEntity(idea)}
%endfor
</ul>
%endif
</div>

<div id="related">
%if not c.idea.related.first():
<h3 class="empty">Related Terms</h3>
%else:
<h3>Related Terms
<span class="toggle on" onclick="toggleList('#related')">&nbsp;</span>
</h3>
<p class="bottom">Generated by <i>statistical measures</i></p>
<ol>
%for idea in c.idea.related[0:9]:
${printEntity(idea)}
%endfor
</ol>
%endif
</div>

<div id="relatedThinkers">
%if not c.idea.related.first():
<h3 class="empty">Related Thinkers</h3>
%else:
<h3>Related Thinkers
<span class="toggle on" onclick="toggleList('#relatedThinkers')">&nbsp;</span>
</h3>
<p class="bottom">Generated by <i>statistical measures</i></p>
<ol>
%for thinker in c.idea.related_thinkers[0:9]:
${printEntity(thinker, evaluation_type=None)}
%endfor
</ol>
%endif
</div> <!-- related -->

<div id="hyponyms">
%if not c.idea.hyponyms.first():
<h3 class="empty">Hyponyms</h3>
%else:
<h3>Hyponyms
<span class="toggle on" onclick="toggleList('#hyponyms')">&nbsp;</span>
</h3>
<p class="bottom">Generated by <i>statistical measures</i></p>
<ol>
%for idea in c.idea.hyponyms[0:9]:
${printEntity(idea)}
%endfor
</ol>
%endif
</div>

<div id="occurrences">
%if not c.idea.occurrences.first():
<h3 class="empty">Occurrences</h3>
%else:
<h3>Occurrences
<span class="toggle on" onclick="toggleList('#occurrences')">&nbsp;</span>
</h3>
<p class="bottom">Generated by <i>statistical measures</i></p>
<ol>
%for idea in c.idea.occurrences[0:9]:
${printEntity(idea)}
%endfor
</ol>
%endif
</div>

<%def name="printEntity(cons, cls='', group=False, srch_id=None, evaluation_type='Idea')">
<%
c.entID += 1

gen, rel = c.evaluations[cons.ID] 

search = "search(this, %d, %d)" % (c.idea.ID, cons.ID)
    
%>

    %if group:
    <% srch_id = srch_id or cons.ID %>
    <li onClick="search($(this).parent().get(0), ${srch_id}, ${c.idea.ID})" class="idea ${cls}" id="${c.entID}">\
    %else:
    <li onClick="search(this, ${c.idea.ID}, ${cons.ID})" class="idea ${cls}" id="${c.entID}">\
    %endif
    %if cons not in c.idea.nodes and cons != c.idea:
    <a href="${cons.url()}" class="sep">
    <img src="/img/inpho.png" /></a>\
    %endif

    %if cons.sep_dir:
    <a href="http://plato.stanford.edu/entries/${cons.sep_dir}/" class="icons"
    target="_blank">
    <img src="/img/sepmanicon.png" /></a>\
    %endif

    %if (rel > -1) and (gen > -1):
    <img class='loading' src="/img/check.gif" />
    <script>incrEvals();</script>
    %else:
    <img class='loading' src="/img/empty.gif" />
    %endif
    <a class="concept" href="#moreInfo">${cons.label}</a>\


%if evaluation_type == 'Idea':
<form>
    <!-- <a href="#" onClick="flagIdea(this.parent().parent(), ${cons.ID})">
        <img class='delete' id="delete" title="Click if this is not a philosophical idea" src="/img/delete.png" />
    </a> -->
    <input type="hidden" name="ante_id" value="${c.idea.ID}" />
    <input type="hidden" name="cons_id" value="${cons.ID}" />
    
    <div class="reltext" id="reltext${cons.ID}"><strong>Drag slider to set relatedness:</strong></div>
    <div id="slider${cons.ID}" class="slider"></div>
    <script>
    //$(alert($("#${c.entID} form")));
    $(initSlider($("#${c.entID} form .slider"), ${rel}, ${'true' if c.uid else 'false'}));
    </script>
    <div><small>unrelated</small><small style="float: right;">highly related</small></div>
    <input type="hidden" class="relatedness" name="relatedness" id="rel${cons.ID}" value="${rel}" />

    <div class="generality" style="display: none;">
    <input type="radio" name="generality" value="0" ${onchange_gen} \
%if evaluation:
checked\
%endif    
 />\
        <em>more specific</em> than ${c.idea.label}<br />
    <input type="radio" name="generality" value="1" ${onchange_gen} \
%if gen == 1:
checked\
%endif    
 />\
        <em>more general</em> than ${c.idea.label}<br />
    <input type="radio" name="generality" value="2" ${onchange_gen} \
%if gen == 2:
checked\
%endif    
 />\
        <em>as general</em> as ${c.idea.label}<br />
    <input type="radio" name="generality" value="3" ${onchange_gen} \
%if gen == 3:
checked\
%endif    
 />\
        <em>incomparable</em> to ${c.idea.label}<br />
    </div>

%if request.environ.get('REMOTE_USER'):
    <input name="reset" type="button" value="Reset" onClick="resetEvaluation($(this).parent())" />
%else:
    <input name="submit" type="button" value="Submit" onClick="submitEvals($(this).parent())" style="display: none;" />
%endif
</form>
%endif
    
    </li>


</%def>
</div> <!-- contentLeft -->

<div id="moreInfo">
<div id="help">
<p>This is the page for the node <em>${c.idea.label}</em>.</p>

<p>This taxonomy of ideas is the outcome of our three-step ontology population
method utlizing statistical analysis, expert feedback and machine reasoning (<a
href="/papers">more details</a>). By clicking on a related term, we invite you
to explore the connections through a variety of targeted searches displayed in
this pane. Click the <img src="/img/sepmanicon.png" /> icon to open the SEP
article on the adjacent term. Click the <img src="/img/inpho.png" /> icon to
open the InPhO page for the adjacent term. </p>

<p>To help improve the InPhO, please <strong><a
href="/signin?came_from=${url(controller='taxonomy', action='view',
id=c.idea.ID)}">log in</a></strong> to submit evaluations and to be
notified of new ontology-driven research tools. Alternatively, you may submit
anonymous evaluations by <strong><a href="#"
onClick="enableEvals($(this).parent().parent())">enabling idea
evaluations</a></strong>.</p>
</div>

<div id="evalHelp"> 
<p>For each term on the left, indicate its relation to <em>${c.idea.label}</em>.
You may skip any items you are unsure about. New feedback will be incorporated
in nightly runs of our machine reasoning program.</p>

<ol id="questions">
<li><a href="#" onClick="$('~ .answer', this).toggle()">
    What does it mean to say that two ideas are highly related?</a>
    <div class="answer"><p>
    Two ideas are highly related if consideration of the first idea "naturally"
    or "necessarily" raises consideration of the second (and vice versa) in the
    context of that specialization of philosophy. For example, suppose you are
    writing a somewhat comprehensive book on the more general of the two ideas;
    how strongly do you feel that you should mention the more specific idea in
    that book? Or, suppose you are writing a paper on the more specific idea (or
    the two terms are the same level of generality); how strongly do you feel
    you should locate your project with respect to work on the other idea? If
    two terms are highly related, it is strongly recommended to consider issues
    concerning idea B when dealing with issues concerning idea A (and vice
    versa). If two terms are related, then A and B are often, but perhaps not
    necessarily, mutually relevant. A "somewhat related" vote might indicate that you can
    see how the two ideas are commonly or distantly related, but explicit mutual
    treatment would not be expected. A vote of "unrelated" or "marginally related"
    should indicate that you would be surprised to see one deal seriously with
    idea B in the context of idea A (and vice versa).
    </p></div>
    
</li>

<li><a href="#" onClick="$('~ .answer', this).toggle()">
    What does it mean to say that one idea is more specific than (or more
    general than) another?</a>

    <div class="answer"><p>
    One idea is considered more general than another if it is considered in a
    wider range of contexts, or it plays a more important role in that
    specialization of philosophy. For example, the most general ideas are likely
    to be the topics of numerous survey books and courses, and are likely to
    constitute areas or problems with which a philosopher could be occupied with
    for much of her career. The most specific ideas are likely to be mentioned
    only in a few very specialized papers, and are likely to be dealt with
    directly only by a small number of philosophers. Most ideas will fall in the
    middle of this scale, and that is why we should consider the relative
    generality of the two ideas. If they are highly related, how likely is idea
    B to be a sub-topic, or minor issue, reviewed in a book about idea A (and
    vice versa)?
    </p></div>
</li>

<li><a href="#" onClick="$('~ .answer', this).toggle()">
    In what context should I decide the relatedness or relative
    generality of two ideas? </a>

    <div class="answer"><p>
    We want to acquire information about how philosophers organize the semantic
    space of a discipline in their particular areas of expertise. Thus, you
    should evaluate the semantic relationship between the two ideas only in
    context of the broad sub-specialization of philosophy in which the category
    is classified (e.g.  metaphysics, logic, philosophy of mind, ethics, etc.). 
    </p><p>
    You should also not require or expect these semantic relationships to hold
    domain-generally. For example, while "connectionism" is an idea that might
    naturally be subordinated to the heading "philosophy of mental content" in
    the context of philosophy of mind, in the context of the discipline of
    computer science, the direction of relative generality would be reversed.
    </p></div>
</li>

<li><a href="#" onClick="$('~ .answer', this).toggle()">
    How is the list of candidate pairs generated?</a>

    <div class="answer"><p>
    The list is generated by combining a statistical measure of the semantic
    relatedness of the terms in the SEP with a measure of their relative
    generality. The relatedness score is computed by looking at the number of
    times the terms co-occur throughout the encyclopedia, either in the same
    sentence (weighted more highly) or in the same article (weighted less).
    </p><p>
    The relative generality score is generated by taking a measure of the terms'
    relative entropy--in short, do the terms occur just a few times in a small
    subset of documents, or are they very common words that occur frequently
    throughout the corpus? The assumption here is that the higher a term's
    entropy, the more general it will be in the encyclopedia; and the lower the
    term's entropy, the more specific it will be. 
    </p><p>
    These scores are then combined
    into a single measure, which allows us to generate a ranked list of
    candidate hyponyms (more specific and highly related) and hypernyms (more
    general and highly related) for the target term. It is this ranked list that
    is displayed to you for evaluation.
    </p></div>
</li>

<li><a href="#" onClick="$('~ .answer', this).toggle()">
    What if I feel sure that two ideas are semantically related, but I can see
    an argument for either direction of their relative generality?</a>

    <div class="answer"><p>
    If you can see strong arguments for classifying A as more general than B,
    and B as more general than A, and you feel that neither argument wins out,
    select "either/incomparable". As we currently use this evidence, this will
    prevent direct hierarchical links between the two ideas, but will still make
    it likely that they will be mutually reachable in the taxonomy via semantic
    links.
    </p></div>
</li>


<li><a href="#" onClick="$('~ .answer', this).toggle()">
    What if one of the terms is ambiguous?</a>

    <div class="answer"><p>
    If one (or both) of the terms being evaluated is ambiguous in philosophy,
    you should interpret it as having the most common meaning in the
    specialization under consideration. For example, if you are asked to
    evaluate "internalism" in the context of epistemology, you should interpret
    this slightly differently than if you were evaluating it in the context of
    philosophy of mind (e.g., internalism about justification vs. internalism
    about mental content).
    </p></div>
</li>

<li><a href="#" onClick="$('~ .answer', this).toggle()">
    What if I know how something is commonly classified, but I personally
    disagree with that classification?</a>

    <div class="answer"><p>
    We are trying to capture the shared conceptualization of the discipline as
    it currently sees itself, not as it ought to see itself--so please try not
    to be radically revisionary in the feedback you provide. However, if you
    know that a significant number of philosophers might go one way on a
    classification, but a significant number might also go the other way (e.g.,
    it is currently recognized as a matter of dispute), feel free to "vote" in
    the direction you think most appropriate.
    </p></div>
</li>

<li><a href="#" onClick="$('~ .answer', this).toggle()">
    What if someone else's feedback disagrees with mine?</a>

    <div class="answer"><p>
    We currently use a scheme for mitigating disagreements by leveraging a
    combination of voting rules and expertise trumping policies (described in
    our "Crowdsourcing the Assembly of Concept Hierarchies" paper).  When users
    register for InPhO, they report a level of expertise in a given area.  When
    integrating feedback from multiple users, the feedback facts pass through a
    two-stage filter process to resolve inconsistencies.  First, a majority
    rules "vote" is taken at each strata of user expertise for each feedback
    fact present in the database (with ties settled by the co-occurrence
    statistics).  Next, the consensus at the higher level of expertise trumps
    the consensus at the lower.  So, for example, imagine that 3 amateurs
    reported that A is more general than B, but 6 amateurs reported that B is
    more general than A; in this case, we would conclude that B is more general
    than A.  Suppose 2 experts then report that A is more general than B; these
    experts will then trump the amateur consensus.  
    </p><p>
    We are investigating more sophisticated schemes for mitigating disagreement
    which take into account statistical measurements of each user's reliability.
    If you have a research interest in this area and would like to collaborate
    on this issue, please contact us.
    </p></div>

</li>

<li><a href="#" onClick="$('~ .answer', this).toggle()">
    How hard should I think about idea pairs which seem odd?</a>

    <div class="answer"><p>
    Our statistical methods are imperfect, and, like any automated methods, will
    generate a small amount of "junk". If you are curious why two ideas have
    been paired, you are encouraged to investigate using the searches brought up
    to the right of the evaluation pane; you may find a relationship of which
    you were unaware. However, if you cannot determine any relationship between
    the two, don't waste too much time thinking about it -- just skip it and
    move on to the next pair.
    </p></div>
</li>
 
<li><a href="#" onClick="$('~ .answer', this).toggle()">
    Why haven't my feedback added any new instances to the taxonomy?</a> 

    <div class="answer"><p>
    The nonmonotonic logic programming step takes some time, and cannot be run
    every time a user inputs new feedback. Instead, the program is run every
    evening; check back in a few days to see how your feedback has influenced
    the instances in the taxonomy.
    </p></div>
</li>




</ol>
</div> <!-- EVALHELP -->
</div> <!-- MOREINFO -->

<script type="text/javascript">
var info = $('#moreInfo').html();
var evalHelp = $('#evalHelp').html();
var help = $('#help').html();
function showHelp() {
    $("#moreInfo").html(help);
}
function showEvalHelp() {
    $('#moreInfo').html(evalHelp);
    }
</script>

</div> <!-- content -->
