<%inherit file="/base-tree.html" />
<%def name="title()">${parent.title()} - Taxonomy</%def>
<%def name="head_title()">Taxonomy</%def>
<%def name="sidebar()">
${parent.sidebar()}
<br />
${parent.draw()}</%def>
<div id="content">
<h1>The InPhO Taxonomy</h1>

<p>This is the page for the node <em>Philosophy</em>.</p>

<p>This taxonomy of ideas is the outcome of the first iteration of our cycle of
expert-provided structure, statistical analysis of the articles in the <a
href="http://plato.stanford.edu/">Stanford Encyclopedia of Philosophy</a>, and a
small amount of human feedback. Iterations of this cycle will be used to develop
the taxonomy. The approach is explained in more detail in <a href="/papers">our
papers</a>.</p>

<p>Click on any of the links on the left to explore the topics in the taxonomy.</p>
</div>
