<%inherit file="/base-nosidebar.html" />
<%def name="title()">${parent.title()} - Taxonomy</%def>
<%def name="head_title()">Taxonomy</%def>
<div class="span12">
<h1>
<a href="/"><img src="/img/newlogo.png" width="185" style="margin-top: -11px; margin-bottom:-22px;"></a>
<span style="color: #999;">:</span> The Taxonomy</h1>
<div id="chart">
<div class="alert alert-info pull-right" style="position: relative; right: 150px; top: 60px; margin-left: -400px;">
Click a blue node <svg class="node" id="demoNode" width="20" height="20"><g transform="translate(10,15)"><circle r="4.5" style="fill: #b0c4de;"></circle></g></svg> to expand.<br />
Click a term to see the InPhO page for that idea. </div>
</div>
<script type="text/javascript" src="/js/tree-collapse.js"></script>
</div>
