<%inherit file="/base.html" />
<%namespace file="/idea/actb.html" name="actb" />
<%! 
import operator
import inphosite.lib.helpers as h
def nodeRecursion(i, nodes, root, selected):
    n=""
    for node in nodes:
        # configure next node, select currentnode
        n += "var tmpNode%s = new YAHOO.widget.TextNode({label : '%s', href: '%s', selected: %s }, %s);\n" % (i, node.name, h.url(controller="taxonomy", action="view", id=node.ID), str(selected==node.ID).lower(), root)
        if node.children:
            sorted_children = node.children
            sorted_children.sort(key=operator.attrgetter('name'))
            n += nodeRecursion(i+1, sorted_children, "tmpNode"+str(i), selected)
    return n
%>
<%def name="yui()">
${parent.yui()}
${actb.yui()}
${h.stylesheet_link(h.url('/yui/2.8.2r1/treeview/assets/skins/sam/treeview.css'))}
${h.javascript_link(h.url('/yui/2.8.2r1/treeview/treeview-min.js'))}
</%def>

<%def name="sidebar()">
${parent.sidebar()}
${actb.actb("search", "Search the Taxonomy")}
</%def>

<%def name="draw(nodes, node=0)">
<div id="tree">
</div>
<script type="text/javascript">
var tree = new YAHOO.widget.TreeView("tree");
var root = tree.getRoot();
${nodeRecursion(0, nodes, "root", (node and node.ID))}
tree.render();
var selectedNode = tree.getNodeByProperty('selected',true);
if (selectedNode) selectedNode.focus();

</script>
</%def>

${next.body()}
