<%! import urllib %>
<%inherit file="/base-tree.html" />
<%namespace name="bootstrap" file="/bootstrap-form.html" />

## Header
<%def name="title()">${parent.title()} - Entity - ${c.entity.label}</%def>
<%def name="head_title()">${c.entity.label}</%def>
## Sidebar
<%def name="sidebar()">
${parent.sidebar()}
<br />
${parent.draw()}</%def>

<h1>${c.entity.label}</h1>

<%def name="printList(attr, alt_title='', limit=10)">
%if getattr(c.entity, attr)[:limit]:
<% title = alt_title if alt_title else h.titlecase(attr.replace('_', ' ')) %>
<div class="terms span3" id="${attr}" data-source="/idea/${c.entity.ID}/${attr}.json">
<h3>${title}</h3>
<ol class="unstyled">
%for idea in getattr(c.entity, attr)[:limit]:
<li><a onClick="inpho.tabnav.appendTab('tabnav', 'i${idea.ID}', '${h.titlecase(idea.label)}', '/idea/${c.entity.ID}/panel/${idea.ID}')" href="#i${idea.ID}" data-toggle="tab">${h.titlecase(idea.label)}</a></li>
%endfor
## TODO: Investigate this to make dynamically loaded queries use "len"
%if len(getattr(c.entity, attr)[:]) > limit:
<li class="more"><a onClick="inpho.entity.showMore('${attr}', ${c.entity.ID}, ${limit}, ${limit})">Show more&#133; (${len(getattr(c.entity, attr)[:]) - limit})</a></li>
%endif
</ol>
</div> <!-- ${attr} -->
%endif
</%def>

## generates list item evaluation & feedback form with slider
<%def name="printEntity(cons, cls='', group=False, srch_id=None, evaluation_type='Idea')">

## assimilate relationship (generality & relatedness)
<%
c.entID += 1

gen, rel = c.evaluations[cons.ID] 

search = "inpho.eval.search(this, %d, %d)" % (c.entity.ID, cons.ID)

if c.uid:
   onchange_rel = "onChange=\"thisFunc($(this).parent().parent(), 'relatedness')\""
   onchange_gen = "onChange=\"thisFunc($(this).parent().parent(), 'generality')\""
else:
   onchange_rel = ''
   onchange_gen = ''
%>

    %if group:
    <% srch_id = srch_id or cons.ID %>
    <li onClick="inpho.eval.search($(this).parent().get(0), ${srch_id}, ${c.entity.ID})" class="idea ${cls}" id="${c.entID}">\
    %else:
    <li onClick="inpho.eval.search(this, ${c.entity.ID}, ${cons.ID})" class="idea ${cls}" id="${c.entID}">\
    %endif
    %if cons not in c.entity.nodes and cons != c.entity:
    <a href="${cons.url()}" class="sep">
    <img src="/img/inpho.png" /></a>\
    %endif

    ## handles previously evaluated entity
    %if (rel > -1) and (gen > -1):
    <img class='loading' src="/img/check.gif" />
    <script>inpho.eval.incrEvals();</script>
    %else:
    <img class='loading' src="/img/empty.gif" />
    %endif

    ## displays out our mascot, the SEP rodin thinker, to cheer on our readers
    %if cons.sep_dir:
    <a href="http://plato.stanford.edu/entries/${cons.sep_dir}/" class="icons"
    target="_blank">
    <img src="/img/sepmanicon.png" /></a>\
    %endif
    <a class="concept" href="#moreInfo">${cons.label}</a>\

## Evaluation form
%if evaluation_type == 'Idea' and (not group or (group and cls != '')):
<form>
    <!-- <a href="#" onClick="flagIdea(this.parent().parent(), ${cons.ID})">
        <img class='delete' id="delete" title="Click if this is not a philosophical idea" src="/img/delete.png" />
    </a> -->
    %if group:
    <input type="hidden" name="ante_id" value="${c.entity.ID}" />
    <input type="hidden" name="cons_id" value="${srch_id}" />
    %else:
    <input type="hidden" name="ante_id" value="${c.entity.ID}" />
    <input type="hidden" name="cons_id" value="${cons.ID}" />
    %endif
    
    ## Relatedness Slider, based on jQuery UI
    <div class="reltext" id="reltext${cons.ID}"><strong>Drag slider to set relatedness:</strong></div>
    <div id="slider${cons.ID}" class="slider"></div>
    <script>
    //$(alert($("#${c.entID} form")));
    $(inpho.eval.initSlider($("#${c.entID} form .slider"), ${rel}, ${'true' if c.uid else 'false'}, "${cons.label}"));
    </script>
    <div><small>unrelated</small><small style="float: right;">highly related</small></div>
    <input type="hidden" class="relatedness" name="relatedness" id="rel${cons.ID}" value="${rel}" />

    ## Specificity Radio Button (more or less general/specific)
    %if gen > -1:
    <div class="generality" style="">
    %else:
    <div class="generality" style="display: none;">
    %endif
    <input type="radio" name="generality" value="0" ${onchange_gen} \
%if gen == 0:
checked\
%endif    
 />\
        <em>more specific</em> than ${c.entity.label}<br />
    <input type="radio" name="generality" value="1" ${onchange_gen} \
%if gen == 1:
checked\
%endif    
 />\
        <em>more general</em> than ${c.entity.label}<br />
    <input type="radio" name="generality" value="2" ${onchange_gen} \
%if gen == 2:
checked\
%endif    
 />\
        <em>as general</em> as ${c.entity.label}<br />
    <input type="radio" name="generality" value="3" ${onchange_gen} \
%if gen == 3:
checked\
%endif    
 />
        <em>incomparable</em> to ${c.entity.label}<br />
    </div>

## Check log-in status
%if request.environ.get('REMOTE_USER'):
    ## session evaluation
    <input name="reset" type="button" value="Reset" onClick="resetEvaluation($(this).parent())" />
%else:
    ## anonymous evaluation
    <input name="submit" type="button" value="Submit" onClick="inpho.eval.submitEvals($(this).parent())" style="display: none;" />
%endif
</form>

%endif
    
    </li>

</%def>


<%def name="printAdminPanel(attrs)">
<form class="form-horizontal">
  <fieldset>
    <legend>Admin</legend>
    %for attr in attrs:
    ${printAttr(attr)}
    %endfor
  </fieldset>
</form>
</%def>

<%def name="printAttr(attr)"> 
  %if (attr in ["openAccess", "active", "student", "last_accessed", "sep_dir", "language", "ISSN", "searchstring", "wiki", "URL"]):
  ${bootstrap.textbox(attr, getattr(c.entity, attr, ''))}
  %elif (attr in ["ID", "label", "in_degree", "out_degree", "entropy", "type"]):
  ${bootstrap.disabled_textbox(attr, getattr(c.entity, attr, ''))}
  %elif (attr in ["searchpatterns", "abbrs", "queries"]):
  ${bootstrap.list(attr, c.entity.searchpatterns)}
    <%doc>
    ## Birth Date(s) (mutable; for Idea, Thinker)
    %elif (attr == "birth"):
    <ul>
      %for i,birth_date in enumerate(c.entity.birth):
      <li class="idea" id="birth_date${i}">
        <span id="birth_date${i}_edit" class="sep" onclick="inpho.admin.removesp('birth_date${i}','${c.entity.url(action='date', id2='1')}')">
          <img src="/img/delete.png" width=18 height=18 />
        </span>
        <span id="birth_date${i}_field">
          ${birth_date}
        </span>
      </li>
      %endfor
    </ul>
    </%doc>
    %elif (attr == "birth"):
    ${dateControl(attr, 1)}
    %elif (attr == "death"):
    ${dateControl(attr, 2)}
    %endif
</%def>

<%def name="dateControl(attr, relation_id)">
    <form class="dateControl" name="date" action="/entity/${c.entity.ID}/date/${relation_id}" method="POST" id="${attr}_form">
      <fieldset>
	<legend>${attr.capitalize()} Date</legend>
	<select name="month" id="${attr}_month">
	    <option value="0">Month</option>
	    <option value="1">January</option>
	    <option value="2">February</option>
	    <option value="3">March</option>
	    <option value="4">April</option>
	    <option value="5">May</option>
	    <option value="6">June</option>
	    <option value="7">July</option>
	    <option value="8">August</option>
	    <option value="9">September</option>
	    <option value="10">October</option>
	    <option value="11">November</option>
	    <option value="12">December</option>
	</select>

	<select name="day" id="${attr}_day">
	  <option value="0">Day</option>
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
	  <option>6</option>
	  <option>7</option>
	  <option>8</option>
	  <option>9</option>
	  <option>10</option>
	  <option>11</option>
	  <option>12</option>
	  <option>13</option>
	  <option>14</option>
	  <option>15</option>
	  <option>16</option>
	  <option>17</option>
	  <option>18</option>
	  <option>19</option>
	  <option>20</option>
	  <option>21</option>
	  <option>22</option>
	  <option>23</option>
	  <option>24</option>
	  <option>25</option>
	  <option>26</option>
	  <option>27</option>
	  <option>28</option>
	  <option class="variable_day">29</option>
	  <option class="variable_day">30</option>
	  <option class="variable_day">31</option>
	</select>
	
	<input type="text" name="year" size="4" maxlength="4" value="Year" id="${attr}_year" />
	
	<select name="era" id="${attr}_era">
	  <option>Era</option>
	  <option value="bce">B.C.E. (B.C.)</option>
	  <option value="ce">C.E. (A.D.)</option>
	</select>

	<label for="is_date_range" class="dateControlLabel">Date Range?</label>
	<input type="checkbox" name="is_date_range" value="is_date_range" id="${attr}_is_date_range"/>
	
	<br />
	
	<div id="${attr}_date_range" class="date_range">
	  <select name="month_end">
	    <option value="0">Month</option>
	    <option value="1">January</option>
	    <option value="2">February</option>
	    <option value="3">March</option>
	    <option value="4">April</option>
	    <option value="5">May</option>
	    <option value="6">June</option>
	    <option value="7">July</option>
	    <option value="8">August</option>
	    <option value="9">September</option>
	    <option value="10">October</option>
	    <option value="11">November</option>
	    <option value="12">December</option>
	  </select>
	  
	  <select name="day_end">
	    <option value="0">Day</option>
	    <option>1</option>
	    <option>2</option>
	    <option>3</option>
	    <option>4</option>
	    <option>5</option>
	    <option>6</option>
	    <option>7</option>
	    <option>8</option>
	    <option>9</option>
	    <option>10</option>
	    <option>11</option>
	    <option>12</option>
	    <option>13</option>
	    <option>14</option>
	    <option>15</option>
	    <option>16</option>
	    <option>17</option>
	    <option>18</option>
	    <option>19</option>
	    <option>20</option>
	    <option>21</option>
	    <option>22</option>
	    <option>23</option>
	    <option>24</option>
	    <option>25</option>
	    <option>26</option>
	    <option>27</option>
	    <option>28</option>
	    <option>29</option>
	    <option>30</option>
	    <option>31</option>
	  </select>
	  <input type="text" name="year_end" size="4" maxlength="4" value="Year" id="${attr}_year_end" />
	  
	  <select name="era_end" id="${attr}_era_end">
	    <option>Era</option>
	    <option value="bce">B.C.E. (B.C.)</option>
	    <option value="ce">C.E. (A.D.)</option>
	  </select>
	</div>
	
	<hr />
	
	<button type="submit" id="${attr}_submit">Submit</button>
	<button type="reset" id="${attr}_reset" value="Reset">Reset</button>
	
      </fieldset>
    </form>
    
    <script>
      <!-- script handling form expansion/collapse for date ranges-->
      $("#${attr}_is_date_range").click(
      function() {
         if ($("#${attr}_date_range").is(":hidden")) {
            $("#${attr}_date_range").slideDown();
         }   
         else {
            $("#${attr}_date_range").slideUp();          
            var month = $("#${attr}_month").val();
            var day = $("#${attr}_day").val();
            var year = $("#${attr}_year").val();
            var era = $("#${attr}_era").val();
            $('form')[0].reset();
            $("#${attr}_month").val(month);
            $("#${attr}_day").val(day);
            $("#${attr}_year").val(year);
            $("#${attr}_era").val(era);
         }
      });

      $("#${attr}_reset").click(
      function() {
      $("#${attr}_date_range").slideUp();
      });

      <!-- scripts for auto selecting the year/year_end textboxes  -->
      $("#${attr}_year").click(
      function() {
         $(this).select();
      });
      $("#${attr}_year_end").click(
      function() {
         $(this).select();
      });

      /*
      $("#${attr}_submit").click(
      function() {
         $(".variable_day").remove();
      });  
      */

      <!-- script for validating dates  -->
      $(document).ready(function() {
         $("#${attr}_form").submit(
            function() {
               if (($("#${attr}_era").val() == "ce") && ($("#${attr}_era_end").val() == "bce")) {
                  alert("Please review your beginning and ending eras:\nyou cannot go back in time!");
            return false;
               }
               else if (((($("#${attr}_year").val() !== "Year") && ($("#${attr}_year").val() !== "")) && ($("#${attr}_era").val() == "Era")) || ((($("#${attr}_year_end").val() !== "Year") && ($("#${attr}_year_end").val() !== "")) && ($("#${attr}_era_end").val() == "Era"))) {
                       alert("Please specify an era for any given years.");
            return false;
               }
               else if (($("#${attr}_year").val() > $("#${attr}_year_end").val()) && ($("#${attr}_era").val() == "ce") && ($("#${attr}_era_end").val() == "ce")) {
                       alert("Please review your beginning and ending years:\nyou cannot go back in time!");
            return false;
               }
               else if (($("#${attr}_year").val() < $("#${attr}_year_end").val()) && ($("#${attr}_era").val() == "bce") && ($("#${attr}_era_end").val() == "bce")) {
                       alert("Please review your beginning and ending years:\nyou cannot go back in time!");
            return false;
               }
               /* NEEDS TO SUBMIT TO DATABASE RATHER THAN CHANGE VALUE, SINCE YEAR VALUES ARE LIMITED TO FOUR CHARACTERS IN LENGTH
	       else if (#${attr}_("#${attr}_era").val() == "bce") {
                       $("#${attr}_year").val(0 - $("#${attr}_year").val());
            return false;
               }
               else if (#${attr}_("#${attr}_era_end").val() == "bce") {
                       $("#${attr}_year_end").val(0 - $("#${attr}_year_end").val());
            return false;
               }
               */
            });
         });
    </script>

</%def>

