<%inherit file="/base-tree.html"/>
<%def name="title()">${parent.title()} - Entities</%def>
<%def name="head_title()">Entities</%def>
<%def name="sidebar()">
${parent.sidebar()}
<br />
${parent.draw()}</%def>

<%def name="getIcon(entity)">
%if type(entity).__name__ == 'Thinker':
<i class="icon-user"></i>
%elif type(entity).__name__ == 'Journal':
<i class="icon-list-alt"></i>
%elif type(entity).__name__ == 'Idea':
<i class="icon-comment"></i>
%elif type(entity).__name__ == 'SchoolOfThought':
<i class="icon-eye-open"></i>
%endif
</%def>

<%
def cmpEntities(a, b):
    if type(a).__name__ == type(b).__name__:
        if a.label > b.label:
            return 1
        elif a.label == b.label:
            return 0
        else:
            return -1
    elif type(a).__name__ == "Thinker" and type(b).__name__ != "Thinker":
        return -1
    elif type(b).__name__ == "Thinker" and type(a).__name__ != "Thinker":
        return 1 
    elif type(a).__name__ == "Idea" and (type(b).__name__ == "Journal" or type(b).__name__ == "SchoolOfThought") and type(b).__name__ != "Thinker":
        return -1
    elif type(a).__name__ == "Journal" and type(b).__name__ != "Journal" and type(b).__name__ != "Work":
        return 1
    elif type(b).__name__ == "Journal" and type(a).__name__ != "Journal" and type(b).__name__ != "Work":
        return -1
    elif type(a).__name__ == "SchoolOfThought" and (type(b).__name__ == "Idea" or type(b).__name__ == "Thinker") and type(b).__name__ != "Journal":
        return 1
    elif type(a).__name__ == "Work" and type(b).__name__ != "Work":
        return 1
    elif type(b).__name__ == "Work" and type(a).__name__ != "Work":
        return -1
    else:
        return 1
%>

<div id="content">
%if not c.entities:
%if c.query:
<p>There is currently no InPhO entry for the search <b>${c.query}</b>. Please
try another search query, or use the taxonomy to explore over 5,000
philosophical concepts, journals and thinkers.</p>
%if h.auth.is_admin():
<p><a href="${h.url(controller='entity', action='new', label=c.query)}">Create an entity for <b>${c.query}</b></a></p>
%endif
%elif c.sep:
<p>There is currently no InPhO entry for the specified article, however we
invite you to explore the taxonomy at the left to find related concepts and
directed search queries for over 5,000 philosophical concepts, journals and
thinkers.</p> 
%if h.auth.is_admin():
<p><a href="${h.url(controller='entity', action='new', sep_dir=c.sep)}">Create an entity for sep entry <b>${c.sep}</b></a></p>
%endif
%endif

<p>This taxonomy of ideas is the outcome of the first iteration of our cycle of
expert-provided structure, statistical analysis of the articles in the Stanford
Encyclopedia of Philosophy, and a small amount of human feedback. Iterations of
this cycle will be used to develop the taxonomy. The approach is explained in
more detail in our <a href="/papers/">papers</a>.</p>
%endif

<p><i class="icon-user"></i> - Thinker
</br><i class="icon-list-alt"></i> - Journal
</br><i class="icon-comment"></i> - Idea
</br><i class="icon-eye-open"></i> - School of Thought
</p>
<ul class='unstyled'>
<% entities = sorted(c.entities, cmp=cmpEntities) %>
%for entity in entities:
<li><a href="${entity.url()}">${getIcon(entity)}${entity.label}</a></li>
%endfor
</ul>

</div>
