<%! import urllib %>
<%inherit file="/base-tree.html" />

## Header
<%def name="title()">${parent.title()} - New Entity</%def>
<%def name="head_title()">New Entity</%def>

%if c.message:
<p>${c.message}</p>
%endif

<form class="form-horizontal" action="/entity" method="POST">
  <fieldset>
    <legend>New Entity Form</legend>
    
    <div class="control-group">
      <input type="hidden" name="redirect" id="redirect" value="True" />
    </div>

    <div class="control-group">
      %if c.sep_dir and c.linklist:
      <p>This entry may already have a corresponding InPhO Entity:</p>
      <ul class="unstyled">
	%for entity in c.linklist:
	<li><a href="${url(controller='entity', action='update', id=entity[0], sep_dir=c.sep_dir, _method='PUT', redirect='true')}">${entity[1]}</a> (${entity[2]})</li>
	%endfor
      </ul>
      <p>&nbsp;</p>
      %elif c.sep_dir:
      <p>This entry does not have a corresponding InPhO Entity, as determined by the fuzzymatch algorithm.</p>
      %endif
    </div>
    
    
    <div class="control-group">
      <label class="control-label" for="label">Label</label>

      <div class="controls">
	%if c.label:
	<input id="label" name="label" size="80" type="text" value="${c.label}" />
	%else:
	<input id="label" name="label" size="80" type="text" />
	%endif
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="sep_dir">SEP Path</label>
      
      <div class="controls">
	## TODO: Lineup length properly
	## <span class="add-on">http://plato.stanford.edu/entries/</span>
	%if c.sep_dir:
	<input id="sep_dir" name="sep_dir" size="25" type="text" value="${c.sep_dir}" />
	%else:
	<input id="sep_dir" name="sep_dir" size="25" type="text" />
	%endif
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="entity_type">Entity Type</label>

      <div class="controls">
	<select id="entity_type" name="entity_type">
	  <option value="1">Idea</option>
	  <option value="3">Thinker</option>
	  <option value="4">Journal</option>
	  <option value="5">Work</option>
	</select>
      </div>
    </div>
    
    <div class="form-actions">
      <button type="submit" class="btn btn-primary" value="Create Entry">Create Entry</button>
      <button type="reset" class="btn">Reset</button>
    </div>  
  </fieldset>
</form>
