<%! import simplejson %>
<% 

from inphosite.lib.multi_get import multi_get
from urllib import quote_plus
import urllib
from elementtree.ElementTree import parse
from xml.etree import ElementTree as ET


searchstr = c.entity.web_search_string() + " " + c.entity2.web_search_string()
searchstr = quote_plus(searchstr.encode('utf8'))
api_key = "ABQIAAAA1XbMiDxx_BTCY2_FkPh06RRaGTYH6UMl8mADNa0YKuWNNa8VNxQEerTAUcfkyrr6OwBovxn7TDAH5Q" 
url_base = "http://ajax.googleapis.com/ajax/services/search/web?v=1.0" + \
            "&key=" + api_key + \
            "&userip=" + request.environ['REMOTE_ADDR']


sepsearchstr =  c.entity.web_search_string() + " + " + c.entity2.web_search_string()
sepsearchstr1 = sepsearchstr
sepsearchstr = quote_plus(sepsearchstr.encode('utf8'))
sep = "http://plato.stanford.edu/search/xmlSearcher.py?query=" + sepsearchstr

google = url_base + "&q=" + searchstr
google_sep = url_base + "&q=" + quote_plus("site:plato.stanford.edu ") + searchstr

noesis_cx = "001558599338650237094:d3zzyouyz0s"
noesis = url_base + "&q=" + searchstr + "&cx=" + noesis_cx

sep, google, google_sep, noesis = [x[1] for x in  multi_get([sep, google, google_sep, noesis])]

if sep:
    tree = ET.ElementTree(ET.fromstring(sep))
    root = tree.getroot()
    Text = []
    LongDescription = []
    Url = []
    for element in root.getiterator('{http://a9.com/-/spec/opensearch/1.1/}Item'):
        for iter in element.getiterator('{http://a9.com/-/spec/opensearch/1.1/}Text'):
            Text.append(iter.text)      
        for iter in element.getiterator('{http://a9.com/-/spec/opensearch/1.1/}LongDescription'):
            LongDescription.append(iter.text)      
        for iter in element.getiterator('{http://a9.com/-/spec/opensearch/1.1/}Location'):
            Url.append('http://plato.stanford.edu/entries/%s/' % iter.text) 

google = simplejson.loads(google) if google else None
google_sep = simplejson.loads(google_sep) if google_sep else None
noesis = simplejson.loads(noesis) if noesis else None

%>

<p>Search for <em>${c.entity2.label}</em> in the context of <em>${c.entity.label}</em>:</p>
<script type="text/javascript">
function toggleList(selector) {
    if ($('.on', selector).length > 0) {
        $('.on', selector).removeClass('on').addClass('off');
    } else {
        $('.off', selector).removeClass('off').addClass('on');
    }
    $('ol', selector).toggle("slow");
    $('p', selector).toggle("slow");
    }
</script>

${printSEPResults()}
${printResults("Google", google)}
${printResults("Google SEP Site Search", google_sep)}
${printResults("Noesis", noesis, results_link="http://noesis.evansville.edu/results.htm", icon='/img/noesis.png')}

<%def name="printResults(title, results, results_link=None, icon=None)">
<div class="result">
%if not results or results['responseStatus'] != 200:
<h3>${title}</h3>
<p>Error loading results</p>
%elif len(results['responseData']['results']) == 0:
<h3>${title}</h3>
<p>No search results.</p>
%else:
<h3>${title} <span class="toggle on" onclick="toggleList($(this).parent().parent())">&nbsp;</span></h3>
<ol class="search-results">
    %for r in results['responseData']['results']:
    <li>
    <h4><a href="${r['url']}" target="_blank">${r['titleNoFormatting'] | n}</a></h4>
    <p>${r['content'] | n}</p>
    </li>
    %endfor
</ol>
<% 
img = ''
if icon:
    img = '<img src="' + icon + '" valign="text-bottom" /> '
%>

%if not results_link:
<p style="text-align:right; font-weight:bold"><a target="_blank" href="${results['responseData']['cursor']['moreResultsUrl'] | n}">${img}More results...</a></p>
%else:
<% more = results['responseData']['cursor']['moreResultsUrl']
more_s = more.split("?")
if len(more_s) > 1:
    more = results_link + "?" + more_s[1] + "&cof=FORID:11"
%>
<p style="text-align:right; font-weight:bold"><a target="_blank" href="${more | n}">${img}More results...</a></p>
%endif
%endif
</div>
</%def>


<%def name="printSEPResults()">
<div class="result">
%if not sep:
<h3>SEP Internal Search</h3>
<p>Error loading results.</p>
%elif len(Text) == 0:
<h3>SEP Internal Search</h3>
<p>No search results.</p>
%else:
	<h3>SEP Internal Search <span class="toggle on" onclick="toggleList($(this).parent().parent())">&nbsp;</span></h3>
	<ol class="search-results">
    %for i in range(min(len(Text), 4)):
	<li>
			<h4><a href="${Url[i]}" target="_blank">${Text[i] | n}</a></h4>
			<p>${LongDescription[i] | n}</p>
	</li>
    %endfor
    </ol>
	%for elements in root.getiterator('{http://a9.com/-/spec/opensearch/1.1/}Query'):
	    <p style="text-align:right; font-weight:bold"><a target="_blank"
        href="http://plato.stanford.edu/search/searcher.py?query=${sepsearchstr}">More results...</a></p>
	%endfor

%endif
</div>
</%def>

