<%! import simplejson %>
<% 
from inphosite.lib.multi_get import multi_get
from urllib import quote_plus
searchstr = c.entity.web_search_string()
searchstr = quote_plus(searchstr.encode('utf8'))

api_key = "ABQIAAAA1XbMiDxx_BTCY2_FkPh06RRaGTYH6UMl8mADNa0YKuWNNa8VNxQEerTAUcfkyrr6OwBovxn7TDAH5Q" 
url_base = "http://ajax.googleapis.com/ajax/services/search/web?v=1.0" + \
            "&key=" + api_key + \
            "&userip=" + request.environ['REMOTE_ADDR']



sepsearchstr =  c.entity.web_search_string()
sepsearchstr = quote_plus(sepsearchstr.encode('utf8'))
sep = "http://plato.stanford.edu/search/xmlSearcher.py?query=" + searchstr

google = url_base + "&q=" + searchstr
google_sep = url_base + "&q=" + quote_plus("site:plato.stanford.edu ") + searchstr
google_philpapers = url_base + "&q=" + quote_plus("site:philpapers.org ") + searchstr

noesis_cx = "001558599338650237094:d3zzyouyz0s"
noesis = url_base + "&q=" + searchstr + "&cx=" + noesis_cx

sep, google, google_sep, google_philpapers, noesis = [x[1] for x in  multi_get([sep, google, google_sep, google_philpapers, noesis])]

google = simplejson.loads(google) if google else None
google_sep = simplejson.loads(google_sep) if google_sep else None
google_philpapers = simplejson.loads(google_philpapers) if google_philpapers else None
noesis = simplejson.loads(noesis) if noesis else None

if sep:
    sep = sep.replace('<?xml version=\"1.0\"?>','')
    sep = sep.replace('"', '\\"').replace("'", "\\'")

%>

<p>Search for <em>${c.entity.label}</em>:</p>
<script type="text/javascript">
function toggleList(selector) {
    if ($('.on', selector).length > 0) {
        $('.on', selector).removeClass('on').addClass('off');
    } else {
        $('.off', selector).removeClass('off').addClass('on');
    }
    $('ol', selector).toggle("slow");
    $('p', selector).toggle("slow");
    }
</script>

${printResults("Google", google)}
${printResults("Google SEP Site Search", google_sep)}
${printResults("Google PhilPapers Site Search", google_philpapers)}
${printResults("Noesis", noesis,
results_link="http://noesis.evansville.edu/results.htm", icon='/img/noesis.png')}

<%def name="printResults(title, results, results_link=None, icon=None)">
<div class="result">
%if not results or results['responseStatus'] != 200:
<h3>${title}</h3>
<p>Error loading results</p>
%elif len(results['responseData']['results']) == 0:
<h3>${title}</h3>
<p>No search results.</p>
%else:
<h3>${title} <span class="toggle on" onclick="toggleList($(this).parent().parent())">&nbsp;</span></h3>
<ol class="search-results">
    %for r in results['responseData']['results']:
    <li>
    <h4><a href="${r['url']}" target="_blank">${r['titleNoFormatting'] | n}</a></h4>
    <p>${r['content'] | n}</p>
    </li>
    %endfor
</ol>
<% 
img = ''
if icon:
    img = '<img src="' + icon + '" valign="text-bottom"/> '
%>
%if not results_link:
<p style="text-align:right; font-weight:bold"><a target="_blank" href="${results['responseData']['cursor']['moreResultsUrl'] | n}">${img}More results...</a></p>
%else:
<% more = results['responseData']['cursor']['moreResultsUrl']
more_s = more.split("?")
if len(more_s) > 1:
    more = results_link + "?" + more_s[1] + "&cof=FORID:11"
%>
<p style="text-align:right; font-weight:bold"><a target="_blank" href="${more | n}">${img}More results...</a></p>
%endif
%endif
</div>
</%def>

