
<script type="text/javascript" src="../../public/jquery/jquery-1.7.2.min.js"</script>
<%def name="render(port)">
<dd class="bar-container" id="bar${port}">
  <div id="status" style="width:100%">
    <div class="progress loading progress-striped active">
      <div class="bar" style="width:25%">Loading documents...</div>
    </div>
  </div>
  <div id="chart"> </div>
</dd>
<script>
visualize(${port});
</script>
</%def>

<%def name="core()">
<style>
body {
  }
.bar {
    fill: steelblue;
}
.bar:hover {
    fill: brown;
}
rect {
  opacity: 0.6;
}
rect.hover {
  stroke: #000;
  stroke-width: 1;
  shape-rendering: crispEdges;
  cursor: crosshair;
  opacity: 0.8;
}
.doc:hover rect, .doc.hover rect {
  cursor: crosshair;
  opacity: 1.0;
}
rect:hover {
  opacity: 1.0 !important;
  stroke: #000;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

</style>

<script>
function visualize(port) {

var k = port - 16000;
var maxRows = 25;
var minCols = 2;

//${c.entity.sep_dir}
var docid = "${c.entity.sep_dir}";

var width = $('.bar-container').width(),
    height = 20;

var x = d3.scale.linear()
    .range([0, width])
    .domain([0,1.0]);

var svg = d3.select("#bar"+port+" #chart").insert("svg")
    .attr("width", width)
    .attr("height", height)
    .attr("id","main")
    .attr("class", "main");
$('#main', '#bar'+port).hide();

function calculateTopicMap(data, scale, sortFn){
  data.forEach(function(d) {
    var sizeFactor = (scale) ? d.prob : 1.0
    var x0 = 0;
    if (sortFn) d.topicMap =  d3.keys(d.topics)
      .sort(sortFn)
      .map(function(name) { return {name: name, x0: x0, x1: x0 += +(d.topics[name]*sizeFactor) }; });
    else d.topicMap = d3.keys(d.topics)
      .map(function(name) { return {name: name, x0: x0, x1: x0 += +(d.topics[name]*sizeFactor) }; });
  });
  
}

var url = "/docs_topics/" + docid + '.json?n=1'
var host = "https://www.inphoproject.org/topics/sep/" + k;

d3.json(host + url, function(error, data) {
  $('#status .bar', '#bar'+port).css('width', '50%').text('Loading topics...');
  if (error) {
    var isError = $('.bar.bar-warning ');
   console.log(isError[0] +" Hello");    
    $('#status .progress', '#bar'+port).removeClass('active progress-striped');
    if(isError[0]){
       $('#status .progress', '#bar'+port).remove();
    }
    else{
      var errormsg = docid + " is a new article, not yet archived by the SEP.";
      $('#status .bar', '#bar'+port).css('width', '100%').addClass('bar-warning').text(errormsg);
    }
    return false;
  }
  //console.log(data);
  d3.json(host + "/topics.json", function(error_top, topics) {
    $('#status .bar', '#bar'+port).css('width', '75%').text('Rendering chart...');
    if (error_top) {
       var isError = $('.bar.bar-danger ');
      $('#status .progress', '#bar'+port).removeClass('active progress-striped');
      if(isError[0]){
         $('#status .progress', '#bar'+port).remove();
      }
      else{
      $('#status .bar', '#bar'+port).addClass('bar-danger').text('Could not load topic list.');
      }
      return false;
    }

    var k = d3.keys(topics).length;

    $("#bar" + port).before("<dt>"+k+" Topics</dt>");

    var full_explorer_url = "https://www.hypershelf.org/sep/"+k+"/?doc="+docid;
  
  
    calculateTopicMap(data, true, function(a,b) {return data[0].topics[b] - data[0].topics[a];});
  
    // draw total bar
    var doc = svg.selectAll("doc")
        .data(data)
      .enter().append("g")
        .attr("class","doc");
  
    // Draw topic bars
    doc.selectAll("rect")
        .data(function(d) { return d.topicMap; })
      .enter().append("rect")
        .attr("height", height)
        .attr("x", function(d) { return x(d.x0); })
        .attr("width", function(d) { return x(d.x1) - x(d.x0); })
        .attr("class", function(d) { return "top_" + d.name; })
        .attr("title", function(d) { return d3.keys(topics[d.name]['words']).sort(function(a,b) {
              if (topics[d.name]['words'][a] > topics[d.name]['words'][b])
                return -1;
              else if (topics[d.name]['words'][a] < topics[d.name]['words'][b])
                return 1;
              else
                return 0;
            }).join(", ") + ", ..."; })
        .on("mouseover", function(d) {
            // SVG element z-index determined by render order, not style sheet
            // so element must be reappended to the end on hover so border 
            // is not occluded
            var parent = $(this).parent();
            $(this).detach().appendTo(parent);
          })
        .on("click", function(d) { window.location = full_explorer_url; })
        .style("fill", function(d) { return barColors(topics[d.name]['color'], d.name); });
  
  
    $(".doc rect").tooltip({container:'body', 
                            animation: false, placement: 'top'});
    
    $('#status .bar', '#bar'+port).addClass('bar-success').css('width', '100%').text("Complete!");
    setTimeout(function() {$('#status', '#bar'+port).hide()}, 250);
    setTimeout(function() {$('#main', '#bar'+port).show()}, 250);

}); });

//Functions to help with gradient, similar to the ones in topicexplorer
function barColors(myColor, myId) {
  var mainGradient = svg.append('linearGradient')
      .attr('id', myId);
  mainGradient.append('stop')
      .attr('stop-color', myColor)
      .attr('offset', '0');
  mainGradient.append('stop')
      .attr('stop-color', hexToRgbA(myColor, .7))
      .attr('offset', '1');
  return "url(#" + myId + ")";
}

function hexToRgbA(hex, a){
  var c;
  if(/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)){
      c= hex.substring(1).split('');
      if(c.length== 3){
          c= [c[0], c[0], c[1], c[1], c[2], c[2]];
      }
      c= '0x'+c.join('');
      return 'rgba('+[(c>>16)&255, (c>>8)&255, c&255].join(',')+',' + a + ')';
  }
  throw new Error('Bad Hex');
}

}
</script>
</%def>


