<%inherit file="/base-tree.html"/>
<%def name="title()">${parent.title()} - Edit Profile</%def>
<%def name="head_title()">Edit Profile</%def>
<%def name="sidebar()">
${parent.sidebar()}
<br />
${parent.draw()}</%def>
<%

from inphosite.model import SEPArea
from inphosite.model.meta import Session

blank = ('', '-------------')

options = Session.query(SEPArea.id, SEPArea.name).all()
options.insert(0, blank)

levels = [(1, 'interested amateur'), (2, 'undergraduate course'), 
            (3, 'graduate course'), (4, 'published in area')]
levels.insert(0, blank)

form = h.Form(
    value={'fullname' : c.user.fullname,
           'first_area' : unicode(c.user.first_area_id),
           'second_area' : unicode(c.user.second_area_id),
           'first_area_level' : unicode(c.user.first_area_level),
           'second_area_level' : unicode(c.user.second_area_level),
           'email' : c.user.email,
           'confirm_email' : c.user.email},
    option={'first_area' : options,
             'second_area' : options,
             'first_area_level' : levels,
             'second_area_level' : levels}
)

%>



<div id="content">
<h1>Edit Profile</h1>
${form.start_with_layout(h.url(controller='account', action='submit_changes'), method="post") | n}
    <tr class="field">
        <td class="label" valign="top" height="10"><span style="visibility: hidden">*</span>Username:</td>
        <td class="field" valign="top">${c.user.username}</td>
        <td rowspan="2" valign="top"></td>
    </tr>
    ${form.field(
        label="Full Name", 
        name='fullname',
        type='text',
        required=False
    ) | n}
    ${form.field(
        label="E-mail", 
        name='email',
        type='text',
        required=False
    ) |n}
    ${form.field(
        label="Confirm E-mail", 
        name='confirm_email',
        type='text',
        required=False
    ) |n}
    ${form.field(
        label="Password",
        name='password',
        type='password',
        required=False
    ) | n}
    ${form.field(
        label="Confirm Password",
        name='confirm_password',
        type='password',
        required=False
    ) | n}
<%doc>
## TODO: enable area editing
    ${form.field(
        label="First Area",
        name='first_area',
        type='dropdown',
        required=True
    ) | n}
    ${form.field(
        label="Level of expertise",
        name='first_area_level',
        type='dropdown',
        required=True
    ) | n}
    ${form.field(
        label="Second Area",
        name='second_area',
        type='dropdown',
        required=False
    ) | n}
    ${form.field(
        label="Level of expertise",
        name='second_area_level',
        type='dropdown',
        required=False
    ) | n}
</%doc>
    ${form.action_bar(
        form.submit(value="Edit", name='submit')
    ) | n}
${form.end_with_layout() | n}
</div>
