<%inherit file="/base-tree.html" />

<%def name="title()">${parent.title()} - myInPhO</%def>
<%def name="head_title()">myInPhO</%def>


<div class="yui-gd">
<div id="content">
<h1>Welcome to InPhO!</h1>
</div>

<div id="contentLeft2">

%if c.message == 'edited':
<p>Profile successfully edited!</p>
%endif

<p>Thank you, ${c.user.fullname}, for registering with the Indiana Philosophy Ontology (InPhO)
Project! As a registered user, you gain faster access to our evaluation
interfaces. By completing your expertise profile, you can help us train our
machine reasoning program. We also plan to notify users of new document analysis
and bibliography management tools, powered by the underlying machine
representation.</p>

<p><a href="${h.url(controller='account', action='edit')}">Edit your profile</a></p>

</div>
<div id="moreInfo2">
<h3>Your recent InPhO contributions</h3>
<ol>
%for evaluation in c.recent:
<li>
<a href="${evaluation.ante.url()}">${evaluation.ante}</a> <i class="icon-arrow-right"></i> 
<a href="${evaluation.cons.url()}">${evaluation.cons}</a></li>
%endfor
</ol>
<h3>Generality agreement:</h3>
${c.gen_agree_str} (std dev: ${"%.3f" % c.gen_stddev})

<h3>Relatedness agreement:</h3>
${c.rel_agree_str} (std dev: ${"%.3f" % c.rel_stddev})
</div>
</div>
