<%inherit file="/base-tree.html"/>
<%def name="title()">${parent.title()} - Register</%def>
<%def name="head_title()">Register</%def>
<%def name="sidebar()">
${parent.sidebar()}
<br />
${parent.draw()}</%def>

<%

from inphosite.model import SEPArea
from inphosite.model.meta import Session

blank = ('', '-------------')

options = Session.query(SEPArea.id, SEPArea.name).all()
options.insert(0, blank)

levels = [(1, 'interested amateur'), (2, 'undergraduate course'), 
            (3, 'graduate course'), (4, 'published in area')]
levels.insert(0, blank)

%>


<div id="content">
<h1>Register</h1>

<form method="post" action="/account/submit">
  <table class="formbuild">
    <tbody>
      ## Name
      <tr class="field">
        <td class="label" valign="top" height="10">
          <span style="visibility: hidden">*</span>
          <label for="fullname">Full Name:</label>
        </td>
        <td class="field" valign="top">
          <input type="text" name="fullname">
        </td>
        <td valign="top" rowspan="2">
        </td>
      </tr>
      ## Username
      <tr class="field">
        <td class="label" valign="top" height="10">
          <span class="required">*</span>
          <label for="username">Username:</label>
        </td>
        <td class="field" valign="top">
          <input type="text" name="username">
        </td>
        <td valign="top" rowspan="2">
        </td>
      </tr>
      ## Email
      <tr class="field">
        <td class="label" valign="top" height="10">
          <span class="required">*</span>
          <label for="email">E-mail:</label>
        </td>
        <td class="field" valign="top">
          <input type="text" name="email">
        </td>
        <td valign="top" rowspan="2">
        </td>
      </tr>
      ## Confirm Email
      <tr class="field">
        <td class="label" valign="top" height="10">
          <span class="required">*</span>
          <label for="confirm_email">Confirm E-mail:</label>
        </td>
        <td class="field" valign="top">
          <input type="text" name="confirm_email">
        </td>
        <td valign="top" rowspan="2">
        </td>
      </tr>
      ## First Area
      <tr class="field">
        <td class="label" valign="top" height="10">
          <span class="required">*</span>
          <label for="first_area">First Area:</label>
        </td>
        <td class="field" valign="top">
          <select name="first_area">
            %for i,option in options:
            <option value="${i}">${option}</option>
            %endfor
          </select>
        </td>
        <td valign="top" rowspan="2"></td>
      </tr>
      ## Level of Expertise
      <tr class="field">
        <td class="label" valign="top" height="10">
          <span class="required">*</span>
          <label for="first_area_level">Level of expertise:</label>
        </td>
        <td class="field" valign="top">
          <select name="first_area_level">
            %for i,level in levels:
            <option value="${i}">${level}</option>
            %endfor
          </select>
        </td>
        <td valign="top" rowspan="2">
        </td>
      </tr>
      ## Second Area
      <tr class="field">
        <td class="label" valign="top" height="10">
          <span style="visibility: hidden">*</span>
          <label for="second_area">Second Area:</label>
        </td>
        <td class="field" valign="top">
          <select name="second_area">
            %for i,option in options:
            <option value="${i}">${option}</option>
            %endfor
          </select>
        </td>
        <td valign="top" rowspan="2"></td>
      </tr>
      ## Level of Expertise
      <tr class="field">
        <td class="label" valign="top" height="10">
          <span style="visibility: hidden">*</span>
          <label for="second_area_level">Level of expertise:</label>
        </td>
        <td class="field" valign="top">
          <select name="second_area_level">
            %for i,level in levels:
            <option value="${i}">${level}</option>
            %endfor
          </select>
        </td>
        <td valign="top" rowspan="2">
        </td>
      </tr>
      ## Submit button
      <tr>
        <td></td>
        <td colspan="2">
          <input type="submit" value="Register" name="submit">
        </td>
      </tr>
    </tbody>
  </table>
</form>

</div>
