<%inherit file="/base-tree.html"/>
<%def name="title()">${parent.title()} - Sign In</%def>
<%def name="head_title()">Sign In</%def>
<%def name="sidebar()">
${parent.sidebar()}
<br />
${parent.draw()}</%def>
<div id="content">
<h1>Reset Password</h1>


<p>Please enter either a usernmae or email address to have a new password sent
to you</p>

<form method="post" action="/account/reset_submit">
  <table class="formbuild">
    <tbody>
      <tr class="field">
        <td class="label" valign="top" height="10">
          <span style="visibility: hidden">*</span>
          <label for="login">Username or Email:</label>
        </td>
        <td class="field" valign="top">
          <input type="text" name="login">
        </td>
        <td valign="top" rowspan="2"></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2">
          <input type="submit" value="Reset" name="sumbit">
        </td>
      </tr>
    </tbody>
  </table>
</form>

</div>
