<%namespace name="eval" file="/idea/eval.html" />

<%inherit file="/base-tree.html" />

<%def name="title()">${parent.title()} - My Evaluations</%def>
<%def name="head_title()">My Evaluations</%def>

<h1>Review Your InPhO Evaluations</h1><br />

%if c.evaluations:
	<h4>Below are all the terms that you have evaluated for the InPho.</h4>
	<p>Your most recent evaluations are listed first.</p>
	<br /><br />
	<ol class="unstyled">
		%for eval in c.evaluations:
	  		<li class="evalItem">${printEval(eval)}</li>
		%endfor  
	</ol>
%else:
	<h4>You do not have any evaluations.</h4><br />
%endif


<script type="text/javascript" src="/js/eval.js"></script>
<script type="text/javascript">inpho.eval.alert = false;</script>


<%def name="printEval(e, cls='')">
    <div class="evalContainer">${eval.thanks(e.ante, e.cons, e.relatedness, e.generality)}</div>
</%def>