<%inherit file="/base-tree.html"/>
<%def name="title()">${parent.title()} - Sign In</%def>
<%def name="head_title()">Sign In</%def>
<div id="content">
  <h1>Sign In</h1>
  
  <br />

  %if c.failed:
  <p>Incorrect username or password. Please try again.</p>
  <p><a href="${h.url(controller='account', action='reset')}">Reset password</a></p>
  %endif
  
  <form class="form-inline" method="post" action="/account/dologin">
    %if c.redirect_in_get is not None :
    <input type="hidden" name="came_from" value="${c.referer}" />
    %endif

    <input type="text" name="login" class="input-medium" placeholder="Username">
    <input type="password" name="password" class="input-medium" placeholder="Password">
    <button name="submit" type="submit" value="Login" class="btn">Login</button>
    
    <!--
	<table class="formbuild">
	  <tbody>
	    <tr class="field">
              <td class="label" valign="top" height="10">
		<span style="visibility: hidden">*</span>
		<label for="login">Username:</label>
              </td>
              <td class="field" valign="top">
		<input type="text" name="login">
              </td>
              <td valign="top" rowspan="2">
              </td>
	    </tr>
	    <tr class="field">
              <td class="label" valign="top" height="10">
		<span style="visibility: hidden">*</span>
		<label for="password">Password:</label>
              </td>
              <td class="field" valign="top">
		<input type="password" name="password">
              </td>
              <td valign="top" rowspan="2"></td>
	    </tr>
	    <tr>
              <td></td>
              <td colspan="2">
		<input type="submit" value="Login" name="sumbit">
              </td>
	    </tr>
	  </tbody>
	</table>
	-->
    
  </form>
  
  <p>
    <a href="${h.url(controller='account', action='reset')}">Forgot your username or password?</a>
  </p>
</div>
