<%inherit file="/base-tree.html"/>
<%def name="title()">Bad/Missing School Info</%def>
<%def name="head_title()">Bad/Missing School Info</%def>
<div id="content">

<p>Select a field to see the list of Schools with that missing/bad information.</p>

<script>
function showFilter(){
    var chosen = $('#bad_field').val();
    $('.di_filter').each(function (idx, elt) {
        if ($(elt).attr('value') == chosen)
            $(elt).show();
        else
            $(elt).hide();
    });
}
</script>

<select id="bad_field" onchange="showFilter()">
  <option>None</option>
  <option value="sep_dir">Missing sep_dir (${len(c.missing_sep_dir)} School(s) of Thought)</option>
  <option value="duplicate">Duplicates (${len(c.duplicate)} Schools of Thought)</option>
</select>

<div value="sep_dir" class="di_filter">
  <h2>Missing sep_dir (${len(c.missing_sep_dir)})</h2>
  <ul>
    %for school in c.missing_sep_dir:
    <li><a href="${school.url()}" target="_blank">${school.label}</a></li>
    %endfor
  </ul>
</div>

<div value="duplicate" class="di_filter">
  <h2>Duplicates (${len(c.duplicate)})</h2>
  <ul>
    %for school in c.duplicate:
    <li><a href="${school.url()}" target="_blank">${school.label}</a></li>
    %endfor
  </ul>
</div>

<script>showFilter()</script>

</div>
