<%inherit file="/base-tree.html"/>

<%def name="title()">Work - ${c.school_of_thought.label}</%def>
<%def name="head_title()">${c.school_of_thought.label}</%def>

<%def name="sidebar()">
${parent.sidebar()}
<br />
${parent.draw()}</%def>


<div class="yui-gd">
<script type="text/javascript">
function srch(id) {
    var src  = '/entity/' + id + '/search';
    $.get(src, function(data){
          $("#moreInfo").html(data);
        });
}
$(document).ready(srch(${c.school_of_thought.ID}));
</script>

<div id="content">
<h1>${c.school_of_thought.label}</h1>
</div>

<div id="contentLeft">
%if c.school_of_thought.sep_dir:
<p><a href="http://plato.stanford.edu/entries/${c.school_of_thought.sep_dir}/"
 target="_blank">
<img src="/img/sepmanicon.png" /> ${h.titlecase(c.school_of_thought.label)}</a>
is also an article in the Stanford Encyclopedia of Philosophy.</p>
%endif

</div> <!-- contentLeft -->

<div id="moreInfo">
    <p>Loading search results ...</p><p><img src='/img/loading.gif' /></p>
</div>
</div> <!-- wrapper -->
