<!DOCTYPE html>
<html>
  <head>
    <title>InPhO</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- JQUERY -->
    <script type='text/javascript' src='/jquery/jquery-1.7.2.min.js'></script>
    <script type='text/javascript' src='/jqueryui/js/jquery-ui-1.8.10.custom.min.js'></script>
    <script type='text/javascript' src='/jqueryui/css/blitzer/jquery-ui-1.8.10.custom.css'></script>
    
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <script type='text/javascript' src='/bootstrap/js/bootstrap.min.js'></script>
    
    <!-- Font Awesome -->
    <link rel='stylesheet' type='text/css' href='/css/font-awesome-4.0.3/css/font-awesome.min.css'>

    <!-- D3 -->
    <script type='text/javascript' src='/js/d3/d3.js'></script>
    <script type='text/javascript' src='/js/d3/d3.layout.js'></script>
    
    <!-- Mustache -->
    <script type='text/javascript' src='/js/mustache.js'></script>

    <!-- InPhO -->
    <link rel='stylesheet' type='text/css' href='/css/style.css'>
    <link rel='stylesheet' type='text/css' href='/css/tree.css'>
    <link rel='stylesheet' type='text/css' href='/css/idea-edit.css'>
    <script type='text/javascript' src='/js/util.js'></script>
    <script type='text/javascript' src='/js/actb.js'></script>
    <script type='text/javascript' src='/js/eval.js'></script>
    <script type='text/javascript' src='/js/entity.js'></script>
    <script type="text/javascript">
      //Fixes navbar behavior with hashchanges
      var shiftWindow = function() { scrollBy(0, -50) };
      if (location.hash) shiftWindow();
      window.addEventListener("hashchange", shiftWindow);
    </script>
  </head>

  <body>
    {{> navbar}}
    <div class="container" id="container">
      <div class="row">
        {{#sidebar}}
          <div class="span4" id="sidebar">{{> base-tree}}</div>
          <div class="span8" id="content">{{{content}}}</div>
        {{/sidebar}}
        {{^sidebar}}
          {{{content}}}
        {{/sidebar}}
      </div>
      {{> footer}}
    </div>
    <script type="text/javascript">
        $('[data-toggle="tooltip"]').tooltip();
    </script>
  </body>
</html>


