<script type="text/javascript">
    document.title = "Idea - {{label}}";
    
    $(document).ready(function() {
        $("#dialog").dialog({position: [490,380], modal : true, title : 'Multiple Results'});
        $('#tabnav').tab();
        if (window.location.hash != "") {
            if (window.location.hash.substring(1,2) == 'i') {
                var id = window.location.hash.substring(2);
                $.getJSON('/idea/'+id+'.json',
                  function(data) {
                      var title = data.responseData.result.label;
                      inpho.tabnav.appendTab('tabnav', 'i' + id, title, '/idea/{{ID}}/panel/' + id);
                    });
            }
            inpho.tabnav.switchTab('tabnav', window.location.hash.substring(1));  
            $('body').scrollTop(0);
        }
    });

    // Generate Lists
    inpho.entity.showMoreMustache('related', "{{ID}}", '{{label}}', 'idea', 10, 'Related Terms', true);
    inpho.entity.showMoreMustache('related_thinkers', "{{ID}}", '{{label}}', 'idea', 10, null, false, true);
    inpho.entity.showMoreMustache('hyponyms', "{{ID}}", '{{label}}', 'idea', 10, null, false, true);
    inpho.entity.showMoreMustache('occurrences', "{{ID}}", '{{label}}', 'idea', 10, null, false, true);
</script>

<div>
<h1 id="label">{{label}}</h1>
{{! removed for loop over c.nodes }}

{{#sep_dir}}
<p><a href="http://plato.stanford.edu/entries/{{sep_dir}}/" target="_blank"><img src="/img/sepmanicon.png" />{{label}}</a> is also an article in the Stanford Encyclopedia of Philosophy.</p>
{{/sep_dir}}
{{#wiki}}
<p><a href="http://wikipedia.org/wiki/{{wiki}}" target="_blank"><img src="/img/wikiicon.png" />{{label}}</a> also has a Wikipedia article.</p>
{{/wiki}}

<p><a id="philsearch" href="http://philpapers.org/s/{{label}}"> <img src="/img/pp.gif"/> {{label}}</a> can be searched on PhilPapers.</p>

<div class="tab-content" id="tabnav-content">
    <div class="tab-pane active" id="home">

<div id="related"></div>
<div id="related_thinkers"></div>
<div id="hyponyms"></div>
<div id="occurrences"></div>

{{!
%if not (c.entity.related[:10] or c.entity.related_thinkers[:10] or c.entity.hyponyms[:10] or c.entity.occurrences[:10]):
${entity.printMissing()}
%endif

    </div>
## If user is logged in, show evaluations
%if h.auth.is_logged_in():
    <div class="tab-pane" id="evaluate"></div>
%endif
## If user is authorised, show admin panel
%if h.auth.is_admin():
    <div class="tab-pane" id="admin">
        ${entity.printAdminPanel(["id", "label", "sep_dir", "searchstring", "searchpatterns", "in-degree", "out-degree", "entropy"])}
    </div>
%endif
}}
</div> <!-- tab-content -->
</div>
