<div>
<script type="text/javascript">
    document.title = "Journal - {{label}}";

    $(document).ready(function () {
        srch({{ID}}); 
        $('#tabnav').tab();
        if (window.location.hash != "") {
            inpho.tabnav.switchTab('tabnav', window.location.hash.substring(1));  
            $('body').scrollTop(0);
        }
    });
//    alert(document.cookie);

    function srch(id) {
        var src  = '/entity/' + id + '/search';
        $.get(src, function(data){
              $("#searches").html(data);
            });
    }   


    // there is a label function missing that would replace long labels with an abbreviation
</script>

<h1>{{label}}</h1>

{{! INSERT AUTHORIZATION HERE }}

<div class="tab-content" id="tabnav-content">
    <div class="tab-pane active" id="home">
      {{! AUTHORIZATION
      %if h.auth.is_admin() and c.entity.URL and c.entity.last_accessed < 2419200: 
      <div class="alert-message alert-warning">
        <a class="close" href="#">×</a>
        <strong>Broken Journal URL!</strong> Journal URL unreachable since ${c.entity.last_accessed_str}
      </div>
      %endif
      }}

 <dl class="dl-horizontal">
    {{#URL}}
    <dt>Web Site</dt>
    <dd><a href="{{URL.decode('utf-8')}}">{{label}}</a></dd>
    {{/URL}}

    {{#language}}
    <dt>Language:</dt>
    <dd>{{language}}</dd>
    {{/language}}

    {{#ISSN}}
    <dt>ISSN:</dt>
    <dd>{{ISSN}}</dd>
    {{/ISSN}}
    
    {{#abbrs.length}}
    <dt>Abbreviations:</dt>
    {{#abbrs}}
    <dd>{{.}}</dd>
    {{/abbrs}}
    {{/abbrs.length}}

    {{#openAccess}}
    <dd>Open Access</dd>
    {{/openAccess}}
    {{#student}}
    <dd>Student Journal</dd>
    {{/student}}
    {{#active}}
    <dd>Inactive</dd>
    {{/active}}

  </dl>

      <div id="searches">Loading search results ...<img src='/img/loading.gif' /></div>
    </div>

{{! AUTHORIZATION
## If user is authorised, show admin panel
%if h.auth.is_admin():
    <div class="tab-pane" id="admin">
      ${entity.printAdminPanel(['label', 'URL', 'language', 'ISSN', 'abbrs', 'queries', 'openAccess', 'student', 'active'])}
    </div>
%endif 
}}
</div> <!-- tab-content -->
</div>
