<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>printList Test</title>
    <!-- Stylesheet Imports -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />

    <!-- Javascript Imports -->
    <script src="../jquery/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/mustache.js" type="text/javascript"></script>
</head>

<body>
<script type="text/javascript">
url = "/thinker/3345/influenced.json";
listAttr('influenced', 3345, 10, 10);
function listAttr(attr, id, n, start) {
    $.getJSON(url, function(data) {
        var listjson = {
            "attr": attr,
            "parent_id": id,
            "n": n,
            "results": data.responseData.results
        };
        var html = Mustache.to_html($('#printList').html(), listjson);
        $('#fill').html(html);
    });
}

</script>
<ol class="unstyled" id="fill"></ol>

<script id="printList" type="text/template">
  {{#results}}
    <li>
    <a onClick="inpho.tabnav.appendTab('tabnav', 'i{{ID}}', {{label}}, '/entity/{{ID}}/panel/{{parent_id}}')" href=#i{{ID}}" data-toggle="tab" class="tablink"><i class="icon-search"></i></a>
    {{#sep_dir}}
      <a href="http://plato.stanfor d.edu/entries/{{sep_dir}}"><img src="/img/sepmanicon.png" class="pull-right" /></a>
    {{/sep_dir}}
    {{#wiki}}
      <a href="http://wikipedia.org/wiki/{{wiki}}"><img src="/img/wikiicon.png" class="pull-right" /></a>
    {{/wiki}}
    <a href="{{url}}">{{label}}</a>
    </li>
  {{/results}}
</script>
</body>
</html>
