<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InPhObox Demo</title>
    <!-- Stylesheet Imports -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />

    <!-- Javascript Imports -->
    <script src="../jquery/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/mustache.js" type="text/javascript"></script>
</head>

<body>
    <div id="renderHere"></div>
    <script type="text/javascript">
    var workjson = {"url": "/work/5414", "sep_dir": "aristotle-categories", "type": "entity", "ID": 5414, "label": "aristotle's categories"}
    var sotjson = {"url": "/school_of_thought/5397", "sep_dir": "dialectical-school", "type": "entity", "ID": 5397, "label": "dialectical school"};
    var journaljson = {"website": "http://analysis.oxfordjournals.org/", "openAccess": 0, "abbrs": [], "language": "en", "url": "/journal/4717", "ISSN": "0003-2638", "sep_dir": null, "student": 0, "queries": ["http://www.nottingham.ac.uk/journals/analysis/preprints/*"], "active": 1, "label": "Analysis", "type": "journal", "ID": 4717};
    var partials = {"partial1": "partial1.htm", "partial2": "partial2.htm"};

    var functions = new Array();

    var partLoad = loadPartials(partials);

    $.when(partLoad).done(function(data){
        $.get('work.mustache', function(templates) {
            var html = Mustache.to_html(templates, workjson, partials);
            $('#renderHere').html(html);
        });   
    });

    function loadPartials(partials) {
        var dfd = $.Deferred();
        
        for (var name in partials) {
            var xhr = function(name) {
                $.get(partials[name], function(p) {
                    partials[name] = $(p).html();
                    //alert(partials[name] + name);
                });
                functions.push(xhr);
            }(name);
        }
        
        $.when.apply($, functions).then(function(data) {
            //alert(data);
            dfd.resolve();
        });

        return dfd.promise();
    }
    </script>

</body>
</html>
