<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InPhObox Demo</title>
    <!-- Stylesheet Imports -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />

    <!-- Javascript Imports -->
    <script src="../jquery/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/mustache.js" type="text/javascript"></script>
</head>

<body>
    <div id="renderHere"></div>
    <script type="text/javascript">
    var journaljson = {"website": "http://fulgur.co.uk/shop/abraxas/abraxas-issue-2/", "openAccess": 0, "abbrs": ["Abraxas*"], "language": "en", "url": "/journal/4697", "ISSN": "0360-1404", "sep_dir": null, "student": 0, "queries": [], "active": 1, "label": "Abraxas\r", "type": "journal", "ID": 4697};
    var partials = {"partial1": "partial1.htm", "partial2": "partial2.htm"};

    var functions = new Array();

    var partLoad = loadPartials(partials);

    $.when(partLoad).done(function(data){
        $.get('journal.htm', function(templates) {
            var template = $(templates).html();
            var html = Mustache.to_html(template, journaljson, partials);
            $('#renderHere').html(html);
        });   
    });

    function loadPartials(partials) {
        var dfd = $.Deferred();
        
        for (var name in partials) {
            var xhr = function(name) {
                $.get(partials[name], function(p) {
                    partials[name] = $(p).html();
                    //alert(partials[name] + name);
                });
                functions.push(xhr);
            }(name);
        }
        
        $.when.apply($, functions).then(function(data) {
            //alert(data);
            dfd.resolve();
        });

        return dfd.promise();
    }
    </script>

</body>
</html>
