<!DOCTYPE html>
<html lang="en">
<head><title>... hmmm</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/jquery/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="/js/eval.js" type="text/javascript"></script>
<script src="/js/admin.js" type="text/javascript"></script>
<script src="/js/tabnav.js" type="text/javascript"></script>
<script src="/js/entity.js" type="text/javascript"></script>
<script src="/js/mustache.js" type="text/javascript"></script>
<script type="text/javascript">
    document.title = "Thinker - {{label}}";

    // Generate Lists
    inpho.entity.showMoreMustache('influenced', "{{ID}}", "thinker", 10);
    inpho.entity.showMoreMustache('influenced_by', "{{ID}}", "thinker", 10); 
    inpho.entity.showMoreMustache('students', "{{ID}}", "thinker", 10); 
    inpho.entity.showMoreMustache('teachers', "{{ID}}", "thinker", 10); 
    inpho.entity.showMoreMustache('related', "{{ID}}", "thinker", 10, null, true); 
    inpho.entity.showMoreMustache('related_ideas', "{{ID}}", "thinker", 10, null, true); 
</script>


</head>
<body>
<div>
<h1>{{label}}</h1>

{{#sep_dir}}
<p><a href="http://plato.stanford.edu/entries/{{sep_dir}}/" target="_blank"><img src="/img/sepmanicon.png" /> {{label}}</a> is also an article in the Stanford Encyclopedia of Philosophy.</p>
{{/sep_dir}}
{{#wiki}}
<p><a href="http://wikipedia.org/wiki/{{wiki}}" target="_blank"><img src="/img/wikiicon.png" /> {{label}}</a> also has a Wikipedia article.</p>
{{/wiki}}

<p><img src="/img/pp.gif"/> <a id="philsearch" href="http://philpapers.org/s/{{label}}">{{label}}</a> can be searched on PhilPapers.</p>

<ul class="nav nav-tabs" id="tabnav" data-tabs="tabs">
    <li id="home-tab" class="active"><a href="#home" data-toggle="tab"><i class="icon-home"></i></a></li>
    
    {{! NEEDS AUTHORIZATION for admin tab
    %if h.auth.is_admin():
    <li id="admin-tab"><a href="#admin" data-toggle="tab"><i class="icon-pencil"></i> Admin </a></li>
    %endif 
    }}

</ul>

<div class="tab-content" id="tabnav-content">
    <div class="tab-pane active" id="home">
      <dl class="dl-horizontal">
          {{#birth}}
            <dt>Birth Date:</dt>
            <dd>
              {{month}} {{day}}, {{year}}
            </dd>
          {{/birth}}

          {{#death}}
            <dt>Death Date:</dt>
            <dd>
              {{month}} {{day}}, {{year}}
            </dd>
          {{/death}}

          {{#nationalities.length}}
          <dt>Nationality/ethnicity:</dt>
          {{#nationalities}}
          <dd>{{.}}</dd>
          {{/nationalities}}
          {{/nationalities.length}}
      
          {{#professions.length}}
          <dt>Profession:</dt>
          {{#professions}}
          <dd>{{.}}</dd>
          {{/professions}}
          {{/professions.length}}
     
          {{#aliases.length}}
          <dt>Alias:</dt>
          {{#aliases}}
          <dd>{{.}}</dd>
          {{/aliases}}
          {{/aliases.length}}
      </dl>

      <div id="influenced"></div>
      <div id="influenced_by"></div>
      <div id="students"></div>
      <div id="teachers"></div>
      <div id="related"></div>
      <div id="related_ideas"></div>
{{! CONVERT TO MUSTACH

if not (c.entity.influenced[:10] or c.entity.influenced_by[:10] or c.entity.related[:10] or c.entity.related_ideas[:10] or c.entity.teachers[:10] or c.entity.students[:10]):
${entity.printMissing()}
%endif
}}
    </div>
{{! NEEDS AUTHORIZATION for admin panel
## If user is authorised, show admin panel
%if h.auth.is_admin():
    <div class="tab-pane" id="admin">
${entity.printAdminPanel(["id", "label", "sep_dir", "searchstring", "wiki", "searchpatterns", "birth", "death", "influenced_by", "influenced", "teachers", "students"])}
    </div>
%endif
}}
</div> <!-- tab-content -->
</div>
</body>
</html>
